[2012-05-03 16:28] hbons opened #7 "Following README for setup doesn't work"
Trying to set up a GlitterGallery instance.
I've followed the exact instructions in the README, but get this error:

http://glitter-hbons.rhcloud.com/

Any configuration i missed (OS says mySQL is enabled).

[2012-05-03 17:13] #7 closed, assigned to nobody

[2012-05-10 22:12] mairin opened #8 "RFE: Need a way to change user password"
I think it would make sense if you click on the user's username in the upperleft to go to a page where they can fill out their name and change their password.

[2012-05-10 22:14] mairin opened #9 "Image Thumbnails Still a little stretchy"
http://design-mo.rhcloud.com/repos/duffy@fedoraproject.org/Fedora%20Four%20Foundations%20Artwork/four-foundations-iconssvg_thumb.png

I uploaded an image that was wide and short and the thumb is a little icky. I guess at certain aspect ratios we should just crop?

[2012-05-10 22:20] mairin opened #10 "Alignment of project rows on dashboard"
If you have a project with a one-line name next to a project with a two-line name, the alignment of the row they are in on the dashboard gets a bit out of whack. (Probably an easy CSS fix)

[2012-05-10 22:59] ryanlerch opened #11 "Input for uploading a new image does not change after choosing a file"
After choosing a file when using the form to upload a new image, the input box that holds the placeholder text "Choose an SVG mockup file" does not change after choosing a file. Some feedback that a file has in fact been chosen would be nice!

[2012-05-22 22:17] ryanlerch opened #13 "Creating a new project"
When creating a new project is there a need to upload a SVG at this point?

Say if i wanted to create a project for "Cute Fuzzy Animal Icons", do i need to upload an SVG at this point?

Conceptually, i would think you just create a project, then add images to that project.

[2012-05-23 05:28] ryanlerch opened #14 "Updating an Image leaves you at a notification screen with no easy link back to the image page"
Currently, when you update an image, you are sent to a page with the following notification:

"<imagename>.svg has been updated! Shiny!"

but no easy link back to either the image page or the project page.

Maybe reverting back to the image page, and putting the notification there is a better option?

cheers,
ryanlerch

[2012-05-23 05:35] #14 closed, assigned to nobody

[2012-05-23 05:38] ryanlerch opened #15 "Updating an image with a new image with a different name does not show up on the image page."
If you upload image "ponies.svg" to a project, then update that image with a new file from your computer called "ponies2.svg", the new image is not updated properly on the image page (the one with the comments)

Note that the new image is updated on the project page where all the images in a project are thumbnailed.

cheers,
ryanlerch

[2012-07-18 05:03] mairin opened #16 "Ruby 1.8 still correct in deploy instructions?"
Hey, in the instructions in the readme markdown it says:

"Create a new ruby-1.8 application and add MySQL"

OpenShift now has a 1.9 cartridge and recommends that. Is it better to do Ruby 1.9? Or the experimental RoR thing in OpenShift?

[2012-07-18 05:18] mairin opened #17 "No way to change name of project or images after creation/upload"
Maybe on hover it could get a CSS highlight with an edit button (flickr-style?)

[2012-07-18 05:20] mairin opened #18 "Images with long names take over project details page"
http://i.imgur.com/v4QMO.png

See the squirrel in the snowstorm? He's eating up a lot of real estate with the name of his jpg. :-/

[2013-09-16 11:31] sarupbanskota opened #26 "Allow users to follow each other."
@EmilyDirsh could you please mark this as an enhancement? I wish I could do that myself and not bother you with this, but sadly GitHub doesn't allow me to :(

[2013-09-16 11:32] sarupbanskota opened #27 "Allow users to follow projects they haven't authored."
Enhancement.

[2013-09-16 16:22] sarupbanskota opened #29 "Add a user stub page - a photo, public projects info, some bio etc"
So we'll want to make GlitterGallery more social at some point. It would be useful to have a user page - with a bunch of details people can optionally fill up! Based on the knowledge of the person who takes up this bug, I'm okay with doing the rails side of things for it.
You'll have to essentially use the data (info about a person) I provide you with, and make things pretty.

[2013-09-17 13:31] sarupbanskota opened #30 "Normalize OpenID urls during login"
e.g, login fails for https://username.id.fedoraproject.org, whereas it works for http://username.id.fedoraproject.org. Basically, we shouldn't discriminate between different URLs referring to the same id. See http://en.wikipedia.org/wiki/URL_normalization for more on this.

[2013-09-17 13:54] sarupbanskota opened #31 "Either improve Glitterposts _totally_, or use an gem to make it more powerful!"
We need to hyperlink links in the post, allow formatting and tags..

[2013-09-17 13:58] sarupbanskota opened #32 "OpenID login doesn't cover all providers (esp. ones that make use of AX)"
FAS-OpenID is only allowed for apps hosted on fedorahosted. We need to incorporate other forms of login as well, including ones through Google auth. Google and Yahoo use AX requests, and these haven't been covered yet.     Modify the login to accomodate every possible OpenID based login request.

[2013-09-17 16:44] sarupbanskota opened #33 "Paginate projects/commits and file history pages"
They currently appear as one long list. Paginate them.
@EmilyDirsh good first bug.

[2013-09-17 16:47] sarupbanskota opened #34 "Invent a new font & color scheme"
The current font scheme is quite unreadable and fancy. Replace that and do a color scheme redesign.
Emily and I have a meeting planned, we'll probably come up with standard typography rules and a color scheme by the end of September.

[2013-09-19 16:57] sarupbanskota opened #35 "Project show page fails when SVGs created through SVG-edit are attempted to display"
We have a few options to fix this - 1) decode back the base64 encoded SVG data fresh out of an SVG-edit created file,  or 2) display thumbnails (better options, will take a while)

[2013-09-21 06:15] sarupbanskota opened #37 "Glitterposts are pretty ugly right now. Improve them"

[2013-09-21 22:03] #8 closed, assigned to nobody

[2013-09-21 22:12] #11 closed, assigned to nobody

[2013-09-21 22:12] #13 closed, assigned to nobody

[2013-09-21 22:13] #16 closed, assigned to nobody

[2013-09-21 22:17] #35 closed, assigned to nobody

[2013-09-22 13:52] sarupbanskota opened #38 "Sketches for SVG create feature"
Designers might not have access to inkscape/other vector graphic tools to come up with designs. We're letting them create SVG images (an image format) online! You could prolly depict designers on travel. If you can think crazy, do so - designers working on designs off computers in a swimming pool is perfectly fine! ;)

[2013-09-22 13:57] sarupbanskota opened #39 "Sketches for the commit history feature"
Every single change you've ever made to a design is saved with us. So no worries about losing images or particular changes to images. You can travel back in time and play with any of your old versions of the same image. Think crazy - a hard disk breaks into two, and one half contains half the images...

[2013-09-22 13:59] sarupbanskota opened #40 "Sketches for glitterposts"
Designers get to write glitterposts (which are blogposts) - so think about something weird for that too. Just an idea - you can come up with a joke surrounding designers and make that your blogpost.

[2013-09-22 14:01] sarupbanskota opened #41 "Sketches for 'fork' feature"
Other people can 'fork' designs off your project. Essentially, that means if you created a design, and if your friend wanted to improve it, she can choose to do so. All she has to do is 'fork' that project, and she has a copy of the exact same project. She can independently work on these images and once done, send you back a 'pull request', which a request asking you to merge her improvements with

[2013-09-23 19:07] sarupbanskota opened #42 "Sync bare and non_bare repos when commits take place"
When new files are added, or updates to an existing file are made, we need a way to push these changes to the bare repo from the non_bare one.
This will help us build the fork/pull request model.

[2013-09-24 20:52] sarupbanskota opened #43 "Allow uploaded SVGs to be edited"
currently, there seems to be some kind of error when trying to do that.

[2013-09-26 05:45] sarupbanskota opened #44 "Make thumbnails on the project display page more interactive. Also improve the page - repace text will buttons, etc"
Fairly simple issue to start with. Will require some UI ideas and html/css/jquery skills.

[2013-09-27 22:11] EmilyDirsh opened #45 "RFE: Support externally hosted git repos"
It'd be nice to be able to use externally hosted git repos as the backend (i.e. github), in order to leverage all the great git hosting platforms that already exist, to eliminate the need for lots of storage on the GlitterGallery host, and to be able to keep design-specific repos in close proximity to related dev-specific repos.

[2013-10-13 09:10] #9 closed, assigned to nobody

[2013-10-13 09:15] #10 closed, assigned to nobody

[2013-10-13 09:16] #15 closed, assigned to nobody

[2013-10-13 09:20] #18 closed, assigned to nobody

[2013-10-16 14:10] sarupbanskota opened #46 "Once logged in, change the home page."
Just realized, once people are logged in and then try to go to root (/), they are still directed to the login page. The correct way is to redirect them to the dash. I'll take this up.

[2013-10-29 09:12] #43 closed, assigned to sarupbanskota

[2013-10-29 17:31] sarupbanskota opened #47 "Allow custom commit messages"
When people create/edit images, there are the same commit messages. I think it's a good idea to let people include the commit message by themselves.
It's up to include which files are affected by specific commits - which I think we should display in a suitable manner.

can skip for 0.1.

[2013-10-29 17:33] sarupbanskota opened #48 "Images created through SVG edit using filenames with spaces in them break when they are edited."
A good idea would be to save the files with a spaces substituted as underscores or something.

[2013-11-09 16:44] #30 closed, assigned to sarupbanskota

[2013-11-09 16:48] #42 closed, assigned to EmilyDirsh

[2013-11-09 21:00] #46 closed, assigned to sarupbanskota

[2013-11-09 21:03] #32 closed, assigned to sarupbanskota

[2013-11-09 21:18] #48 closed, assigned to sarupbanskota

[2013-11-09 21:32] #29 closed, assigned to sarupbanskota

[2013-11-09 21:48] #34 closed, assigned to EmilyDirsh

[2013-11-09 22:09] #44 closed, assigned to sarupbanskota

[2013-11-09 22:11] #37 closed, assigned to sarupbanskota

[2013-11-10 13:07] sarupbanskota opened #50 "Everyone is able to upload files to any repo! o.O"
Add authentication checks to upload file.

[2013-11-10 13:21] #50 closed, assigned to sarupbanskota

[2013-11-16 05:15] sarupbanskota opened #51 "Develop 'Embrace', a front end for GlitterGallery"
I think we're doing fairly well in the features department, now the two new things we need to focus on at this point is usability and writing tests.

I've learned testing will need me to be a lot more determined (:-P), so I'll keep my eyes open for people who're willing to help out. In the meanwhile, I was thinking we could spend our energies making the whole thing more usable.

I propose we devel

[2014-01-22 15:55] EmilyDirsh opened #54 "Add openshift security functions"
It's bad security to have a secret token checked into the repo. We should replace it with the OpenShift secret token functiions as in the official OpenShift rails quickstart.

[2014-01-22 15:57] EmilyDirsh opened #55 "Configurable repo directory"
Add a configuration option for the repo directory location. Once that's done, we also need to set the configuration option in the deploy hook for OpenShift.

[2014-01-22 16:05] EmilyDirsh opened #56 "Alternative authentication methods"
Currently, we only authenticate against Fedora OpenID, so only people with FAS accounts can use _any_ installation of ~~OpenShift~~ Glitter Gallery (oops).

We need to allow other means of authentication, so that it's useful outside of Fedora.

[2014-01-22 16:06] EmilyDirsh opened #57 "Pre-precomile assets"
Deploying to OpenShift takes a really long time, and can fail due to timeouts, so we should add compiled assets to the repo, and add the turbo sprockets gem.

[2014-01-22 16:09] EmilyDirsh opened #58 "Sketchily/SVG-edit mouse position issues"
When drawing in the included SVG editor, the shapes are drawn very far off the canvas, and you have to scroll very far over and drag the shapes back if you want them to be in the SVG viewport.

This may be an upstream issue, just need to debug to be sure.

[2014-01-22 16:18] EmilyDirsh opened #59 "Public gallery"
Enable a public gallery to allow visitors to browse public drawings.

This will require adding a public/viewable option to files or projects, and changing the homepage.

[2014-01-23 13:18] sarupbanskota opened #60 "People with longer names will break history pages"
![screenshot from 2014-01-23 18 45 32](https://f.cloud.github.com/assets/3149580/1984870/f67e0516-8433-11e3-90fe-5b333bcaa1b6.png)
We need an alternate way to present meta information and the commit information.

[2014-01-29 10:42] #47 closed, assigned to nobody

[2014-02-14 07:03] sarupbanskota opened #63 "create awesome landing page for GlitterGallery"
We need a nice landing page describing features, instructions about setting up, contact information, etc

[2014-02-21 15:35] sarupbanskota opened #64 "logo for glittery"
We need a logo for GlitterGallery that reflects what it does. Involving the glitterfox somewhere would be great.

[2014-03-02 20:35] rohitpaulk opened #66 "Persistent storage"
On OpenShift, shouldn't the projects be stored in $OPENSHIFT_DATA_DIR? As of now, it's stored in public/data, which gets washed away everytime you push.

[2014-03-02 22:16] rohitpaulk opened #68 "Handle current_user properly"
When Rails is already managing sessions data using a cookie, why set an extra remember_token cookie? I suggest just setting `session[:current_user_id]=user.id`.

Also, the methods in SessionsHelper look pretty redundant to me

[code]

[2014-03-03 05:00] rohitpaulk opened #71 "Public live demo"
It'd be good to have a live openshift gear that is based on the last 'stable' point, and have a link in the README.

[2014-03-03 06:06] rohitpaulk opened #72 "Better tests"
The tests are just _awful_ as of now. 39 tests, and **37** failures. :expressionless:
- Correct the existing tests.
- Add integration tests/feature specs etc.

View #73 to check progress.

[2014-03-03 17:46] rohitpaulk opened #74 "Rails 4 - Why not?"
Are there specific reasons behind not updating to Rails 4?

[2014-03-03 21:29] rohitpaulk opened #75 "Don't display login page to logged in users"
A **logged in** user can still access the login page via `/login`. Redirect to dashboard should be implemented.

Also, as of now - when a person tries to access the root url, he is taken to the dashboard. So if he's not logged in, he's going to see the login page with an error like "You have to be logged in to view this page". And that is not an error that we want to show users who just try to acc

[2014-03-03 21:57] rohitpaulk opened #77 "Fix comments model"
This is the current comments model.

[code]

When trying to access the owner of the comment, this is the code used -

[code]

This would be so much more easier if we just added a `belongs_to` relation to the model, and then we'll be able to access the owner by `comment.user`.

Aaaaand, the model specs pass too. :smiley:

[2014-03-04 15:11] rohitpaulk opened #79 "Unwanted methods in UsersController"
User controller has new and create methods, and as users is listed as a resource in `routes.rb`, people can access these too.

One could send a post request to `/users/create` with cooked up info, and create a fake user account.

Steps :
- add `only: :show` to user resource
- remove the extra methods. i.e. _new_ and _create_

[2014-03-05 13:18] #75 closed, assigned to nobody

[2014-03-05 13:21] #54 closed, assigned to nobody

[2014-03-05 17:36] charlesx2013 opened #81 "Adding turbolinks gem?"
Do you think we should include the turbolinks gem to the project? It'll save time because all our rendering and redirecting won't need to reload the JavaScript (which there is a lot of), and it'll make the website look like as if its pseudo ajax'ed. (No white screen when reloading a page)

[2014-03-06 07:51] #77 closed, assigned to nobody

[2014-03-06 07:51] #79 closed, assigned to nobody

[2014-03-06 12:20] #68 closed, assigned to nobody

[2014-03-06 12:21] #71 closed, assigned to nobody

[2014-03-06 19:11] rohitpaulk opened #85 "Duplicated comments"
When one clicks on "Create Comment", 2 identical comments get created.

![comments](https://f.cloud.github.com/assets/3893573/2349351/004f1940-a563-11e3-9134-1537e8260f93.png)

[2014-03-07 19:41] charlesx2013 opened #89 "Pull request bug"
So this happened when I tried to submit a pull request:

![bug](https://f.cloud.github.com/assets/5563367/2361355/4f1adc26-a630-11e3-9809-02b617e40b70.PNG)

Look like our initial pull request is send us into two redirects.

[2014-03-07 20:21] #89 closed, assigned to nobody

[2014-03-10 13:25] sarupbanskota opened #90 "Allow images & projects to be specified as public when they're created"
The idea behind such an image/project is that it will be accessible by anyone who has the link to the project/image without having to login to GG.

[2014-03-10 13:27] sarupbanskota opened #91 "Allow projects & images to be deleted"
currently, individual projects can be deleted. We'll need to extend that functionality to individual images as well.

[2014-03-10 16:02] #85 closed, assigned to nobody

[2014-03-11 03:22] #81 closed, assigned to nobody

[2014-03-11 13:23] #57 closed, assigned to nobody

[2014-03-11 13:28] #74 closed, assigned to nobody

[2014-03-11 13:29] #66 closed, assigned to nobody

[2014-03-12 10:03] charlesx2013 opened #95 "Commenting on commits in history"
When you click on any of the commits under history, you get the same errors as Rohit's other pull request. Attempting to comment on the commit also send you back to the project folder.

Working on it.

Also, can anyone explain why the functionality exists for commenting on commits?

[2014-03-12 22:54] rohitpaulk opened #98 "Security issues in Projects Controller"
In sensitive actions such as add/delete/update files, we're authenticating the user, but not checking whether the user actually owns the project. (raised by @EmilyDirsh in #94)

@charlesx2013 has solved this for one action in #97. I guess a similar check for every action should do :)

[2014-03-13 12:51] sanjaykumarco opened #99 "Using devise gem in User Authentication"

[2014-03-13 20:16] charlesx2013 opened #100 "Switching to Kaminari"
The will_paginate gem seems to have trouble dealing with ajax requests. Apparently theres a better gem, [Kaminari](https://github.com/amatsuda/kaminari). Will work on this after fixing history bugs.

It also seems to be newer and more frequently updated.

[2014-03-13 22:31] charlesx2013 opened #101 "Missing SVG"
![bug](https://f.cloud.github.com/assets/5563367/2416144/25106e68-aaff-11e3-9ff9-ffd686f09e42.PNG)

Uh-oh. Anyone get this error message when trying to draw pictures?

[2014-03-18 17:58] ashishmverma1 opened #103 "Unable to login"
When logging in using FAS openID, as soon I click on 'approve' on the authentication page, an error page shows up for GlitterGallery.
Ruby version used: 1.9.3
Rubygem versions I've tried: 2.0.3 & 1.8.29
Error page is in the attached screen-shot.

![screenshot](https://f.cloud.github.com/assets/4902584/2451485/bfd8c2d6-aec6-11e3-9833-e36626f466db.png)

[2014-03-18 19:10] #103 closed, assigned to nobody

[2014-04-02 13:12] sarupbanskota opened #104 "Provide a project settings page"
currently, we're able to create and delete projects, but there isn't a way to play around some more with the project's settings. We'll need to provide a bunch of features for letting user's play with the project's settings. Some initial thoughts:
- Renaming: We'll need to think about how we will affect projects that have been forked from the parent. Users will need to be notified about the consequ

[2014-04-02 13:13] #17 closed, assigned to nobody

[2014-04-02 14:52] #101 closed, assigned to nobody

[2014-04-04 13:48] EmilyDirsh opened #105 "Better project pages"
I think we could do a lot to improve project pages. Some ideas:
- Project description
- Slideshow presentation of files
- Include stats i.e. number of forks, number of files, activity, comments, followers, etc
- Search within a project
- basic per-project visual customization options, a la trello boards - custom backgrounds and custom text colors.
- link to any relevant blog posts
- moonshot: cust

[2014-04-08 18:58] mairin opened #106 "Sparkleshare integration not working?"
Hey, I just started testing out Glitter Gallery today - I noticed when I click on the Sparkleshare link, it prompts me to select a program to open it up with. I picked /usr/bin/sparkleshare, but nothing happens. Maybe this feature isn't complete?

[2014-04-08 19:02] mairin opened #107 "500 error when submitting / viewing Glitterposts"
I tried to make a Glitterpost and got a 500 error:

I, [2014-04-08T15:00:07.041440 #213919]  INFO -- : Started GET "/glitterposts/new" for 127.8.77.1 at 2014-04-08 15:00:07 -0400
I, [2014-04-08T15:00:07.068639 #213919]  INFO -- : Processing by GlitterpostsController#new as HTML
I, [2014-04-08T15:00:07.192530 #213919]  INFO -- :   Rendered glitterposts/new.html.haml within layouts/application (21.7

[2014-04-08 19:23] mairin opened #108 "OpenID trap"
Hey :) I was trying to see how sending someone a link to my Glitter Gallery project would look if they weren't logged into my Glitter Gallery (Created under my Fedora project open ID.) I logged out and visited

https://next-mo.rhcloud.com/projects/5/

It prompted me to log in. I tried my Yahoo OpenID and my Google OpenIDs. Both times, I was redirected to the Open ID provider, which prompted me to

[2014-04-08 19:58] sarupbanskota opened #109 "Author info needs to be forcefully provided"
This is something we didn't think of before - the commit functionality needs to be rewritten to include author info. I should be able to fix this.
![screenshot from 2014-04-09 01 07 56](https://cloud.githubusercontent.com/assets/3149580/2648499/13850ad8-bf58-11e3-8817-b82567ba1aa6.png)

[2014-04-09 15:32] #107 closed, assigned to EmilyDirsh

[2014-04-09 21:28] #95 closed, assigned to nobody

[2014-04-10 16:34] #90 closed, assigned to nobody

[2014-04-10 16:47] EmilyDirsh opened #110 "Project and image access controls"
commit 409bf53faa94ddb03491fda9e07661f9b57bcde4 made projects and images public by default.

The flip side of that is it would be nice to limit visibility of project and images to a small number of specific people.

To do so, you'd have to allow private projects and images, and then provide some sort of limited sharing mechanism.

I can see doing this a couple of ways:
1. Allow the owner to specif

[2014-04-11 08:33] sarupbanskota opened #111 "Assets aren't showing up"
I've been recently cleaning up some broken/ugly features etc and have set up a deployment off our GitHub master here: http://next-fedoragallery.rhcloud.com/

if you went to http://next-fedoragallery.rhcloud.com/projects/1, you'd notice the assets aren't properly loaded. For example, the background is wrong, the "GlitterGallery" font is wrong, and the svg-edit canvas won't show up.

@EmilyDirsh not

[2014-04-13 22:38] sarupbanskota opened #117 "Formal development workflow"
We haven't done a release yet (the plan is to do it during Flock this year), but soon I think we'll have a basic usable GG and would want a better defined workflow for contributors. Right now it's pretty informal - I push to master and everyone else just sends in a PR off their branch.

I'm opening this issue to discuss a standard way to go about contributing to GG, and for us to document & award

[2014-04-15 18:59] sarupbanskota opened #119 "Display comments in reverse order until we have a reply option."
Nothing serious, but if you look at this page: http://next-fedoragallery.rhcloud.com/sarupbanskota/New%20gg%20mockups/e97fc8f9d67aca0557cf6ca522929a9f/master/Screenshot%20from%202014-03-29%2007:24:06.png, you'll see how the comments don't make sense if they're ordered this way. We want them to be displayed in the reverse order of creation, until we have a "reply to comment option".

Marking this a

[2014-04-25 15:53] #108 closed, assigned to nobody

[2014-05-10 22:20] rohitpaulk opened #120 "repos/folders created during testing are not deleted"
As of now, repos/folders created during testing are **not deleted** after the tests are run. Deleting these isn't exactly straightforward because -
- the current folder (public/data) is common to both development and test repositories. So issuing a delete-all-repositories-in-folder command isn't an option.
- The number and names of repositories that are going to to be created for testing will keep

[2014-05-11 21:29] #98 closed, assigned to nobody

[2014-05-18 20:41] rohitpaulk opened #123 "Question: How are we going to handle emails?"

[2014-05-19 20:17] #109 closed, assigned to sarupbanskota

[2014-05-25 15:25] #99 closed, assigned to nobody

[2014-05-25 17:24] #123 closed, assigned to nobody

[2014-06-09 09:46] rohitpaulk opened #127 "Support for Forking"
We need to improve the current state of the forking process.

[2014-06-10 12:53] rohitpaulk opened #128 "Enhancement : Loading indicator"
Since we're using turbolinks, the app tends to seem unresponsive when the next page takes time to load. It'd be good to add something like what youtube has - a thin loading bar at the top of the page.

One drop in solution is [nprogress](https://github.com/rstacruz/nprogress).

[2014-06-11 08:15] #91 closed, assigned to nobody

[2014-06-14 18:55] rohitpaulk opened #133 "Change to email/repo_name naming for repository directories"

[2014-06-18 14:37] #56 closed, assigned to nobody

[2014-06-20 02:07] sarupbanskota opened #136 "Display tooltip with image names & properties on project index"
This is an issue fixed long ago, but the tooltip got removed (perhaps when I was working on stuff last year).

It's a simple thing to fix, just opening it as a newbie-friendly bug since it isn't critical.

[2014-06-22 18:05] #133 closed, assigned to nobody

[2014-06-24 18:15] rohitpaulk opened #139 "Responsiveness issue - Social links not displaying"
When I view on desktop, all three social buttons appear. When I view on mobile though, only **GitHub** is visible.

[2014-06-25 07:33] #139 closed, assigned to nobody

[2014-06-28 17:36] rohitpaulk opened #141 "Add notifications (open discussion)"
This is an issue to discuss the implementation of notifications.

Here's what I was thinking - We'll have a model named `Notification` that stores the following details:
- Type of Activity (An activity could be a comment, follow, fork etc.)
- ID of the activity if any (Could be the comment ID, or project ID in case of a follow)
- Actor (The person responsible for the activity)
- Seen (Boolean that

[2014-07-04 14:41] sarupbanskota opened #143 "Make usernames unique"
I think the usernames accidentally lost their unique nature during the devise introduction.

Shouldn't be case sensitive, so johndoe and JohnDoe would be the same.

[2014-07-07 13:17] #143 closed, assigned to nobody

[2014-07-07 20:18] #27 closed, assigned to nobody

[2014-07-07 20:21] #51 closed, assigned to nobody

[2014-07-07 20:22] #110 closed, assigned to sarupbanskota

[2014-07-08 11:49] #128 closed, assigned to nobody

[2014-07-08 11:57] #141 closed, assigned to nobody

[2014-07-29 17:16] newgoliath opened #149 "nokogiri - can we use 1.6.2 instead?"
1.6.1 will not build on my system, but 1.6.2 does just fine.  Has anyone tried it?

[2014-08-01 15:24] sarupbanskota opened #150 "OpenShift QuickStart"
Currently, it seems to time out.

[2014-08-06 13:53] rohitpaulk opened #151 "Improve Issue ID lookup"
Currently, the Issue subIDs are found by searching an array of the project's issues IDs, sorting and then finding the position of a certain issue. It's likely to be faster if we store the issue subID in our database.

[Here](http://rohitpaulk.roon.io/title-undecided)'s a blogpost about this if you'd like to read more.

[2014-08-13 18:02] rohitpaulk opened #154 "AJAX comments don't work"
The comment is created, but doesn't show up on the page until you refresh.

[2014-08-13 18:03] rohitpaulk opened #155 "Link to forgot password is wrong"
Forgot Password link currently links to `forgot/password` - which the app thinks is a route for a project named `password` owned by `forgot`. The proper route should be the devise generated one.

[2014-08-17 20:06] #155 closed, assigned to nobody

[2014-08-19 17:54] rohitpaulk opened #157 "Display error page if env vars not present"
For example, if a user decides to allow GitHub login and the GitHub env vars are not present, we should show an error page.

[2014-08-27 14:37] EmilyDirsh opened #159 "Login errors should be handled properly"
Invalid credentials while logging in with OpenID brought up the following error:

NoMethodError at /auth/failure
undefined method `id' for nil:NilClass

How to reproduce:
1. Click Log in with OpenID
2. enter valid OpenID url
3. When asked to authenticate by provider, hit cancel
After which, you're redirected to a page with an application error.

We want to make sure any errors are handled properly

[2014-09-04 04:04] #120 closed, assigned to nobody

[2014-09-08 13:57] #159 closed, assigned to rohitpaulk

[2014-09-10 14:34] #63 closed, assigned to sarupbanskota

[2014-09-10 14:39] #117 closed, assigned to nobody

[2014-09-11 14:51] EmilyDirsh opened #161 "Local Repo Support"
As a designer using Glitter Gallery,
I want to work on my projects in a local git repo
   and push changes to Glitter Gallery using the git client of my choice,
So that I can spend less time uploading files through the web interface.

As a designer using Glitter Gallery,
I want to pull any files I create or edit in the Glitter Gallery web console into my local project repo
So that I can easily wor

[2014-09-11 14:56] EmilyDirsh opened #162 "Sparkleshare integration"
As a designer using Glitter Gallery
I want to work on my projects locally and have Sparkleshare sync them to Glitter Gallery
So that I don't have to manually sync my projects (or know anything about Git)

_This is dependent on #161, but includes some interface enhancements to make it easier to set up a GG project with Sparkleshare and vice/versa._

[2014-09-11 14:56] #106 closed, assigned to nobody

[2014-09-11 14:57] #100 closed, assigned to nobody

[2014-09-11 14:58] #104 closed, assigned to nobody

[2014-09-11 14:59] #72 closed, assigned to nobody

[2014-09-11 15:06] #60 closed, assigned to nobody

[2014-09-11 15:13] #31 closed, assigned to sarupbanskota

[2014-09-11 16:01] #55 closed, assigned to nobody

[2014-09-11 17:41] #33 closed, assigned to nobody

[2014-09-11 17:45] #59 closed, assigned to nobody

[2014-09-11 17:49] #111 closed, assigned to nobody

[2014-09-11 18:05] sarupbanskota opened #163 "Inspire page shows all projects on recent projects"
If you went to http://glittergallery-ropaku.rhcloud.com/inspire, the recent projects column seems to accidentally list all projects on the server instead of the user's recent projects.

Easy fix, but critical.

[2014-09-19 04:41] #163 closed, assigned to rohitpaulk

[2014-10-01 14:07] sarupbanskota opened #166 "Stray links to fix"
Links to things that aren't built yet / got updated etc to prepare for release.

[2014-10-01 14:13] sarupbanskota opened #167 "Forgot password page needs a css fix"
It still uses the devise default, needs some layout-copying-over, that's all

[2014-10-01 14:25] rohitpaulk opened #168 "Add text when notifications are empty"

[2014-10-01 14:28] rohitpaulk opened #169 "Entire nav button area should be clickable, not just the text"

[2014-10-01 14:40] rohitpaulk opened #170 "Handle usernames with dots in them"
Currently, I see a 404.

[2014-10-01 14:40] rohitpaulk opened #171 "Do something about the default image for each project"

[2014-10-08 14:52] #154 closed, assigned to rohitpaulk

[2014-10-12 10:53] #168 closed, assigned to nobody

[2014-10-24 08:25] #166 closed, assigned to nobody

[2014-10-26 12:00] #167 closed, assigned to nobody

[2014-11-02 11:18] #119 closed, assigned to nobody

[2014-11-12 12:44] #26 closed, assigned to nobody

[2014-12-16 07:07] #169 closed, assigned to sarupbanskota

[2014-12-17 18:32] #136 closed, assigned to nobody

[2014-12-30 07:09] rohitpaulk opened #185 "Simplify comments using polymorphic associations syntax"
We have the schema for a polymorphic association (`polycomment_id` and `polycomment_type`), but we aren't making use of the rails syntactic sugar when working with comments in controllers.

http://guides.rubyonrails.org/association_basics.html#polymorphic-associations

[2015-01-18 14:37] EmilyDirsh opened #187 "RFE: Enhanced history view"
It'd be extremely useful for collaboration to present the history of a file along with any associated discussion inline.

Something along the lines of
[code]

[2015-01-19 18:45] gameFace22 opened #188 "Usernames with null characters + special characters accepted in registration page"
See the screenshots for more details.
![screenshot - 01202015 - 12 13 06 am](https://cloud.githubusercontent.com/assets/7415260/5805875/50b53596-a039-11e4-87d6-3cbe8e26ba9c.png)
![screenshot - 01202015 - 12 14 18 am](https://cloud.githubusercontent.com/assets/7415260/5805876/50caeab2-a039-11e4-99bd-a5e6673e4d98.png)

[2015-01-19 18:49] gameFace22 opened #189 "Same e-mail address can be used more than once."
While registering for an account,we are prompted to give our e-mail address.
Say my e-mail address is nishaanthguna@gmail.com,I should be able to use it only once.
But in GG,a person will be able to register with same e-mail as many times as possible by tampering the e-mail address.
If I register with nishaanth.guna@gmail.com or nishaan.thguna@gmail.com,it accepts as a valid address(which it shoul

[2015-01-19 19:40] gameFace22 opened #190 "No DDoS protection"
There is no DDoS protection in the sites which are hosted with GG.
To test,
https://github.com/grafov/hulk/blob/master/hulk.py

[2015-01-19 19:51] gameFace22 opened #191 "[Security issue] XSS in "Create Comment" box"
Usually all the input are properly sanitized before being processed.
But this doesn't seem to do so.
![xss](https://cloud.githubusercontent.com/assets/7415260/5806770/6d5685ca-a042-11e4-8c20-7d8504bda833.png)

For more details,
https://www.owasp.org/index.php/Cross-site_Scripting_%28XSS%29
https://www.owasp.org/index.php/XSS_%28Cross_Site_Scripting%29_Prevention_Cheat_Sheet

I hope you would under

[2015-01-24 02:23] sachinkamath commented on #191
Working on it :)

[2015-01-24 02:26] sachinkamath commented on #190
I'll work on this :)

[2015-01-24 14:10] gameFace22 commented on #191
It affects the issues page also.
Currently we don't have pull + push + fork in GG?

I haven't deployed it in my system. I am using the instance of @sarupbanskota

[2015-01-24 14:13] rohitpaulk commented on #191
No pull, no push, no fork. Yet. :)

[2015-01-24 14:22] gameFace22 commented on #191
@rohitpaulk  Once you follow a project,the user needs to be notified that he is following a project,right?
And "Follow this project" could be changed to "Following"

[2015-01-24 14:25] rohitpaulk commented on #191
@gameFace22 - Definitely. Feel free to create new issues if they aren't related to this. Even better, send PRs ;)

[2015-01-24 14:29] rohitpaulk commented on #190
@gameFace22 - What kind of protection are you thinking of? Wouldn't such logic be external to the application code?

[2015-01-24 21:15] sarupbanskota commented on #191
Yep, it's indeed a concern, fixes should be well documented. @sachinkamath, for more RoR-oriented insight on this, and other popular security issues, you can refer http://guides.rubyonrails.org/security.html#cross-site-scripting-xss, if you hadn't already known about it.

[2015-01-24 21:20] sarupbanskota commented on #190
@rohitpaulk while I felt the same way (it seems more like an infra concern that OpenShift's interface with Ruby should deal with), I came across this https://github.com/kickstarter/rack-attack after some looking around.

@sachinkamath if you're taking them up, just remember to work off a separate security feature branch. We're likely to add some work to the project in the next few days, so we woul

[2015-01-24 21:24] sarupbanskota commented on #189
Um, that's intended. Why would you treat them as similar?

If you were referring to Gmail treating them as the same email address, all email providers don't necessarily follow that. For example, on outlook, sarupbanskota@live.in and sarup.banskota@live.in are different accounts.

Am I missing something?

[2015-01-25 06:23] sarupbanskota commented on #149
https://github.com/glittergallery/GlitterGallery/commit/6c74a024b0152067586d0d4ba2570d613bcb08d8#diff-e79a60dc6b85309ae70a6ea8261eaf95R134 should look after it.

[2015-01-25 06:23] #149 closed

[2015-01-25 06:24] sarupbanskota commented on #188
https://github.com/glittergallery/GlitterGallery/issues/170 is related.

[2015-01-25 06:26] sarupbanskota commented on #170
I'm closing this issue, fixing https://github.com/glittergallery/GlitterGallery/issues/188 would look after it, so let's take the discussion there.

[2015-01-25 06:26] #170 closed

[2015-01-25 06:26] sachinkamath commented on #190
We can probably cut down the number of page requests from a specific ip using [this](https://rubygems.org/gems/improved-rack-throttle) gem. The source code is [here](https://github.com/bensomers/improved-rack-throttle). Correct me if I'm wrong.

[2015-01-25 10:21] gameFace22 commented on #189
Nah.
Actually one person can have multiple accounts with the same e-mail address.
Certain sites(like FB) doesn't allow this.

[2015-01-25 10:26] gameFace22 commented on #191
I'll try to find security issues.
I'm not much of a dev guy.
I have found a few which I'm trying to exploit. I'll issue a ticket when I
do :)
 On Jan 25, 2015 2:45 AM, "Sarup Banskota" <notifications@github.com> wrote:

[2015-01-27 11:47] shubhpatel108 commented on #191
@sachinkamath, check out these gems  - [rails-html-sanitizer](https://github.com/rails/rails-html-sanitizer) and [sanitize](https://github.com/rgrove/sanitize).

I have worked on sanitizing once. Let me know what you are planning.

[2015-01-28 18:13] shubhpatel108 opened #197 "Trying to follow a user without logging in gives 401 unauthorized error"
If a user tries to follow another user without logging in, the server throws an 401 Unauthorized error.
It should redirect user to login page instead.
The root of the problem: The request is asynchronous and expect a JS response. We need to do more than just adding a authenticate_user filter (which renders HTML response of login page).

[2015-02-02 09:35] sarupbanskota opened #200 "Dealing with thumbnails"
What are your opinions on this? Do we generate thumbnails per commit? Do we save them within the satellite repo? Do we save them elsewhere? I wouldn't keep them on the satellite repo, and would create a thumbnails dir along with satellite and bare repo. For each commit that takes place, I'd generate thumbnails and place them within a dir with the same tree hash as that of the commit's.

The other

[2015-02-25 21:32] EmilyDirsh commented on #171
@rohitpaulk could you fill this bug out with some more information plz? I'm going to close for now, add more info and reopen when you get a chance.

[2015-02-25 21:32] #171 closed

[2015-02-25 21:34] EmilyDirsh commented on #200
IMO, thumbnails are for GG use, and we don't need to pollute the repo with them. +1 to the separate thumbnails dir and generating and saving a thumb whenever a commit is made. We can use the commit id to name them.

[2015-02-25 21:52] EmilyDirsh commented on #189
Ideally the site admin should be able to define rules around acceptable email addresses for registration. I can see use cases for restricting addresses to a specific domain, a set of domains, not allowing + addresses, etc. I'm going to close this as it's not a bug, and open a RFE for site admin registration rules.

[2015-02-25 21:52] #189 closed

[2015-02-25 21:56] EmilyDirsh opened #201 "[RFE] Site admins should be able to specify registration rules"
There are many valid use cases for site admins to want to restrict registrations to very specific types of email addresses or even specifc services. For instance, a site admin might want to only allow registrations from specific domains, or disallow + addresses, or only support a specific openid provider (*cough* fedora).

We should provide a way to specify registration restrictions as configurati

[2015-02-25 22:03] EmilyDirsh commented on #188
We should support special characters in usernames if at all possible. It's a big usability and i18n fail otherwise. The right thing to do is to encode them so we don't have to worry about sql injection or the like.

[2015-02-26 22:12] hTrap opened #202 "When locally trying to "Find Project" while logged in ,gives out an Error"
Error:
ActiveRecord::StatementInvalid at /inspire
SQLite3::SQLException: no such column: TRUE: SELECT COUNT(*) FROM "projects"  WHERE (private IS NOT TRUE AND user_id <> 3)

This line uses  an sql query interface
https://github.com/glittergallery/GlitterGallery/blame/master/app/controllers/projects_controller.rb#L13

while it should have been using a rails query interface because sqlite is used as

[2015-02-27 03:43] rohitpaulk commented on #202
@hTrap - PRs are welcome :)

[2015-03-02 19:29] #202 closed

[2015-03-03 07:22] sbagroy986 opened #205 "Error while trying to create a project"

[2015-03-03 07:23] sbagroy986 opened #206 "Error while trying to create a project"
I keep getting this when I try to create a project: http://gyazo.com/8d575e674154cf98b78115c1dd3348e6
Probably a problem with the latest merge.

[2015-03-03 08:14] rohitpaulk commented on #206
That's a screenshot of a code diff. Can you provide more details on the error?

[2015-03-03 09:06] sbagroy986 commented on #206
Sorry. Put the wrong link there:  http://gyazo.com/c2b1eafd3c4319b5fc2e2a189b3c2fa9

[2015-03-03 12:55] sarupbanskota commented on #206
Could you reproduce it? What were you trying to do, what did you expect, what happened?

[2015-03-03 13:01] sbagroy986 commented on #206
I'm creating my first project ( /projects/new? ). I give it a name and I click on Public or Private, and this comes up.

[2015-03-03 13:10] sbagroy986 commented on #206
If I roll back to '26b8062 changing sql type query method to rails type' and I don't face this problem.

[2015-03-03 13:22] sarupbanskota commented on #206
alright, I have started a thread that will hopefully address it.

Sarup

On Tue, Mar 3, 2015 at 6:40 PM, Shrey Bagroy <notifications@github.com>
wrote:

[2015-03-03 18:20] rohitpaulk commented on #206
I don't think that this has anything to do with #203. #203 wasn't accurate in itself, but I don't see anything there that would cause the error mentioned here.

I don't have time to debug where this bug was introduced, but I think that #208 should fix it :)

[2015-03-03 18:30] rohitpaulk commented on #206
And this is something that **should** be covered by specs, I certainly remember writing them.

[2015-03-03 18:35] rohitpaulk commented on #206
Current status on Master -
`45 examples, 16 failures, 5 pending`

on #208 -
`45 examples, 5 failures, 5 pending`

[2015-03-03 18:36] rohitpaulk commented on #206
I made a mistake modifying travis.yml a while ago. Travis runs `rake test`, we need `rspec`. No wonder Travis has been green inspite of such serious problems in our app.

[2015-03-03 18:37] rohitpaulk opened #209 "Fix tests"
Current status on Master -
`45 examples, 16 failures, 5 pending`

on #208 -
`45 examples, 5 failures, 5 pending`

[2015-03-03 18:42] #205 closed

[2015-03-03 18:43] rohitpaulk commented on #205
Duplicate of #206

[2015-03-03 18:47] sarupbanskota commented on #206
oh no. should we revert back my PR and I'll investigate if I have broken
something?

Sarup

On Wed, Mar 4, 2015 at 12:06 AM, Rohit Paul Kuruvilla <
notifications@github.com> wrote:

[2015-03-03 19:28] rohitpaulk commented on #206
There's a lot of work in there, it'd be better to just fix the bugs in a PR - preferably in #208 itself.

[2015-03-04 18:08] sarupbanskota commented on #209
@rohitpaulk good to close?

[2015-03-04 18:09] sarupbanskota commented on #206
@sbagroy986 with the two new merged PRs, does it fix your problem? If so, we can close this.

[2015-03-04 18:11] sarupbanskota commented on #185
@rohitpaulk I'm thinking we can assign this bug to the next person who asks for a starting point.

[2015-03-04 18:13] sbagroy986 commented on #206
Yes it does. Thanks.

[2015-03-04 18:16] #206 closed

[2015-03-04 18:18] rohitpaulk commented on #185
I don't think that we should 'assign' simple bugs at all. If we start assigning people bugs this small, it's just going to be more work for us - pinging them to ask if they've worked on it etc.

Assigning does make sense for bigger features, stuff that would take time to work on :)

[2015-03-04 18:18] #209 closed

[2015-03-04 18:24] sarupbanskota commented on #185
by *assign*, I meant more like direct them to this, we don't follow up with them if there's no news of course.

or are you suggesting we look after these bugs ourselves?

[2015-03-04 18:31] rohitpaulk commented on #185
Oh, then it's ok. I thought you were talking about locking issues and preventing others from working on them.

No no, not at all :)

[2015-03-05 04:18] Alwahsh opened #216 "An admin panel for configuration"
There are some cofiguration options that need to be added.
see #201 and the discussion on #214.
[0_glitterconfig.rb](https://github.com/glittergallery/GlitterGallery/blob/master/config/initializers/0_glitterconfig.rb)

I'm thinking of introducing an admin panel to allow for these configurations as it would be easier and more convenient for admins rather than a configuration file.
It can also be ex

[2015-03-05 04:47] sarupbanskota commented on #216
yup, that's something definitely needed - although IMO we might not want to put all of our focus to it at this point. Personally, I would like to see this come after we're through with https://github.com/glittergallery/GlitterGallery/issues/161 and https://github.com/glittergallery/GlitterGallery/issues/162.

Reason being we'll be administering the first real deployment and therefore will understa

[2015-03-05 08:44] chi6rag opened #217 "Facebook OAuth parameter app_id is required FAILURE"
![gg_fb_oauth_id_miss](https://cloud.githubusercontent.com/assets/6065869/6501728/f327865a-c341-11e4-9afd-dadcc44884af.png)

[2015-03-05 08:46] chi6rag commented on #217
this error is in production
same exists fot github and linkedin

[2015-03-05 08:56] sarupbanskota commented on #217
Have you set env variables?

On Thursday, March 5, 2015, Chirag Aggarwal <notifications@github.com>
wrote:

--

Sarup

[2015-03-05 09:08] chi6rag commented on #217
http://glittergallery-ropaku.rhcloud.com/

this one, maybe Emily has access to this

[2015-03-05 10:45] rohitpaulk commented on #217
Thats my demo, its not maintained.

[2015-03-05 10:45] #217 closed

[2015-03-06 16:38] mecyborg commented on #216
This should be done. It will help in managing.

[2015-03-06 17:25] mecyborg commented on #63
Hi, I can make a landing page for GG. Should I start ?

[2015-03-06 17:31] sarupbanskota commented on #63
n Fri, Mar 6, 2015 at 10:55 PM, Nikunj Gupta <notifications@github.com>
wrote:

If you'd like to, why not? :-) let us know how you plan to go about it
though, before you start.

[2015-03-06 17:39] mecyborg commented on #63
I will use Bootstrap for this. As GG is based on rails, there will be no issues in integration.

[2015-03-06 17:53] mecyborg opened #219 "Error while creating new project (Local)"
Failed to make directory 'public/data': File exists
http://awesomescreenshot.com/0214kbo5fe

[2015-03-06 18:13] Alwahsh commented on #219
rename the file data to data2 while developing then rename that back to data after you finish before pushing...
or go to config/initializers/0_glitterconfig.rb and edit line 39, replace data with anything else but don't forget to adjust it back before pushing.

[2015-03-06 18:20] mecyborg commented on #219
Ok. Will look into this !

[2015-03-06 18:25] Alwahsh commented on #219
@sarupbanskota  @rohitpaulk I think this is the third report of that issue... I suggest that for development, it is made developmentdata as it's done in the test environment.

[2015-03-06 19:13] EmilyDirsh commented on #216
Agree with @sarupbanskota - this is something we'll need eventually, but IMO lower priority than a lot of other enhancements. Any site admins will have to deal with installing the app and a database, and configuration is part of that. A GUI can make it easier, but I'd rather see user-facing enhancements atm, rather than site admin enhancements.

[2015-03-06 19:15] rohitpaulk commented on #219
@Alwahsh - The correct way to go about it would be to

- Delete the `public/data` symlink.
- Modify the default config in `config/initializers/0_glitterconfig.rb` so that the repo works as-is on Openshift. (Use the `OPENSHIFT_DATA_DIR`) variable.

[2015-03-06 19:16] rohitpaulk commented on #63
I really don't see the point in another landing page, http://www.glittergallery.net/ is good enough IMO.

[2015-03-06 19:17] rohitpaulk commented on #216
^^ +1.

[2015-03-06 19:18] EmilyDirsh opened #220 "Validate file uploads"
Currently file uploads are not validated. We should be restricting the type and size of files permitted to be uploaded.

This is a potential security issue, and can certainly cause a lot of usability issues if we try to treat something as an image that isn't.

Relevant: http://stackoverflow.com/questions/51572/determine-file-type-in-ruby

[2015-03-06 19:18] sbagroy986 commented on #220
On it!

[2015-03-06 19:23] mecyborg commented on #219
@rohitpaulk this is a better solution. Thanks.

[2015-03-06 19:40] sbagroy986 commented on #220
Found a gem for it. What file formats should I add as supported @EmilyDirsh ? JPEG and PNG?

[2015-03-06 19:43] Alwahsh commented on #220
Why not make it configurable ?

[2015-03-06 19:44] sbagroy986 commented on #220
I don't understand what you mean. Configurable how?

[2015-03-06 19:56] Alwahsh commented on #220
For example, an Array with accepted formats put in the configuration file in initializers. Allow everything in that array and reject the rest

[2015-03-06 20:44] sbagroy986 commented on #220
That is what I am doing :)

[2015-03-06 20:49] EmilyDirsh opened #222 "[RFE] Client side validation"
Client side validation is a big usability enhancement. It allows users to get immediate feedback and correct errors without having to wait for an http request/response.

The RFE is for implementing a client-side validation solution for Glitter Gallery.

Some of the forms/fields that should be validated include:
Sign up: email address, username, password
Projects: project name
Files: file type, fil

[2015-03-06 20:49] sbagroy986 commented on #222
I'll do this as well :P

[2015-03-06 20:54] EmilyDirsh commented on #220
@sbagroy986, @Alwahsh is right - the whitelist should be configurable in the Rails config files. Check the documentation for the gem you're using - there should be a documented configuration parameter for the gem.

By default, we should allow jpg, png, gif (why not?), and svg

[2015-03-06 20:59] sbagroy986 commented on #220
The gem actually just provides us the format of the file. So basically I'm gonna create an array of acceptable formats. The list is, thus, configurable.

[2015-03-06 21:02] EmilyDirsh commented on #220
@sbagroy986 which gem are you using?

[2015-03-06 21:04] sbagroy986 commented on #220
Ruby FileMagic - https://github.com/blackwinter/ruby-filemagic
Its basically libmagic for ruby.

[2015-03-07 09:52] mecyborg commented on #219
Renaming the 'data' fixed this temporarily. But we should find a permanent way to fix this issue.

[2015-03-07 12:18] tvvocold opened #224 "the demo is down?"
503 Service Unavailable

[2015-03-07 13:29] rohitpaulk commented on #219
What I mentioned above **is** a permanent way to fix the issue.

[2015-03-07 13:31] mecyborg commented on #219
Then we should commit this.
On Mar 7, 2015 6:59 PM, "Rohit Paul Kuruvilla" <notifications@github.com>
wrote:

[2015-03-07 13:32] rohitpaulk commented on #224
Yes, I don't maintain [my demo](glittergallery-ropaku.rhcloud.com) anymore. We should create an official demo, anyone who'd like to volunteer - please do.

[2015-03-07 13:33] rohitpaulk commented on #219
@mecyborg - Feel free to send in a PR. :)

[2015-03-08 10:14] sbagroy986 commented on #222
@EmilyDirsh  would this work?
http://gyazo.com/db4f88b650b7b5f2aa36199ba4f241fc
http://gyazo.com/374cabfaf41c64da9b40deed26bac174

[2015-03-08 15:35] sbagroy986 commented on #222
I closed the PR for the file validations ( using the MIME magic numbers ). I'll send a PR for that and this together, after making the necessary changes here.

[2015-03-08 17:06] sonalkr132 opened #229 "Implementation of project.parent"
It started with: "ActionView::CompiledTemplates::FORK" error on issue/show page
[code]
As you can tell, it's and easy fix:
[code]
But There is lot more to it than that. Project create has used:
[code]
project.id doesn't get created until after object is saved in database, so all the project.parents are just nil. I need suggestion solving this.
Now we can write that line
[code]
after
[code]
I don't

[2015-03-08 17:20] mecyborg commented on #219
PR request is sent. Please verify.

[2015-03-08 17:24] rohitpaulk commented on #229
Aah, thanks for the analysis. I agree with you, let's set project.parent to `nil` for a non-fork, and to the id of the project being forked (not the parent, the id of the object itself) for forks.

[2015-03-08 17:28] #219 closed

[2015-03-08 17:40] sonalkr132 commented on #229
Okay. should I migrate all the way down and make changes to "20131030132834_add_parent_to_projects" migration or should I add a new migration? I think you meant former?

[2015-03-08 17:57] rohitpaulk commented on #229
Ah I'm sorry, I didn't think the change through - the migration should be a simple rename of a column, and hence won't change existing data. What I meant was - when you add the new migration, it's okay if it doesn't honor the values on previous projects.

TLDR - add a new migration that renames the column.

[2015-03-08 19:45] sonalkr132 opened #230 "irreversible migrations"
"20150304042821_make_projects_public_by_default" was irreversible, I fixed that. "20140518213805_add_devise_to_users" is also irreversible. I am not sure if I should make changes to its down method. Are we using it as fail safe?

[2015-03-09 09:19] mecyborg opened #232 "New Comment AJAX not working"
After adding new comment, it is not updated. Have to refresh the page to view new comment.

[2015-03-09 09:55] sbagroy986 commented on #232
Okay so the problem here isn't the AJAX. Its most probably the ActionMailer.
If you comment out the following chunk of code
![screenshot from 2015-03-09 15 21 36](https://cloud.githubusercontent.com/assets/7946556/6552814/0d21dd40-c670-11e4-9c0f-2fa6db8f1f9a.png)

and the "Issue?" line in _comment.html.haml,  the comments work fine.
I'll try and look into it in a bit.

[2015-03-09 10:04] mecyborg commented on #232
Comments are working fine. Its just the js which is not rendering.

[2015-03-09 10:05] sbagroy986 commented on #232
I meant the comments would render if you do what I mentioned above :)

[2015-03-09 10:13] mecyborg commented on #232
Ok, thanks ! I guess this is the ActionMailer as you said. :+1:

[2015-03-09 14:12] sonalkr132 commented on #232
I have already fixed it, look at #226
Now, there is another thing which is not working.. that is comments from others on your on your repo. This one might have something to do with actionmailer. I guess we can look into that?

[2015-03-09 15:01] EmilyDirsh commented on #229
Actually, if you're forking a project from a fork, the parent of the new project _should_ be the parent id not the project id. That's not very clear. :P Take this diagram:
[code]
For Project C, the correct parent id is `1`, the id of Project A, even though C is being forked from Project B. We want all subsequent forks to point back to the original project, even if it is being forked from a fork. I

[2015-03-09 15:25] sbagroy986 opened #234 "Users can update pictures in projects of the other users"
Basically, I can edit any project of any other user right now because it gives me the 'Update' option.
eg:
![8935c981c685653400236da20e72a937](https://cloud.githubusercontent.com/assets/7946556/6557766/8b81c09c-c69d-11e4-8554-6a1c2119d5e0.png)

I am logged in as 'sba23' but can update a picture in the user 'sbaa23's repo.
Is this how its supposed to work? I already fixed this locally but I wasn't

[2015-03-09 15:32] sonalkr132 commented on #229
Are you sure thats how you want to keep things? Git doesn't work that way. I think we should discuss this further as setting parent to fork makes more sense than setting it to original repo. If I fork some's work then my repo would reflect the status(files and changes) of my parent fork and not the original repo. If i wanted my parent to be original repo then I would have forked original repo. @ro

[2015-03-09 16:27] rohitpaulk commented on #229
That's not how GitHub works, here's an example. https://github.com/arvindsrinivas1/GlitterGallery

I agree. The parent should be the project that we `git clone` from, which in our case is the fork. It would be nice to show the user a dialog that says something like  "You're forking username/repo which was forked from originaluser/repo. Are you sure you don't want to fork the original repo instead?

[2015-03-09 16:45] EmilyDirsh commented on #234
This is definitely a bug. Only the owner (and maybe in the future, collaborators) should be able to update a project.

[2015-03-09 16:45] sbagroy986 commented on #222
@EmilyDirsh I have the PR ready please give this a look :)

[2015-03-09 16:47] EmilyDirsh commented on #232
The notification should be triggered in the background, and non-blocking. Anyone who wants to tackle this, just claim it.

[2015-03-09 16:48] EmilyDirsh commented on #230
20140518213805_add_devise_to_users is nearly 10 months old. I wouldn't worry about making that reversible.

[2015-03-09 16:48] #230 closed

[2015-03-09 16:50] Alwahsh commented on #232
@EmilyDirsh Do you mean creating the notification object itself should be done in the background or sending it to the user? if you mean the latter, then it's already done in #233 :)

[2015-03-09 16:55] EmilyDirsh commented on #229
Fair enough. I think we do still want to maintain links between the forks and the original - similar to the Github network feature. We probably want to use https://github.com/stefankroes/ancestry or something similar to track the relationships.

[2015-03-09 16:58] EmilyDirsh commented on #224
I'll set one up on my OpenShift account and connect the glittergallery.net domain. Should have been using it from the start, probably :P

[2015-03-09 16:59] sonalkr132 commented on #232
I have suggestion related to this. Comment made on someone else's repo don't show right away, cause development.rb isn't configured properly for sending mails. [letter_opener](https://github.com/ryanb/letter_opener) handles it quite well. It sends kinda stubed email right in the browser and doesn't actually send it. I integrated it this app and it solved the issue of ajax call not completing.
What

[2015-03-09 17:00] EmilyDirsh commented on #222
@sbagroy986 is the PR open? I don't see it in the list.

[2015-03-09 17:00] sbagroy986 commented on #222
I have the PR ready to be sent but wanted you to check out the screens, in case you wanted some changes

[2015-03-09 17:02] EmilyDirsh commented on #232
@Alwahsh I meant sending the email to the user. The non-blocking part is important too. Some environments may not have working outgoing email, so we don't want to block the rest of the execution because email doesn't work.

[2015-03-09 17:02] sonalkr132 commented on #229
I guess I don't need to make any changes to my request?

We can work on adding that, but I think we have more important things to achieve before adding details like that? I really want to see followers and notification feature working as soon as possible.

[2015-03-09 17:03] Alwahsh commented on #232
@EmilyDirsh Great.. That's exactly what I did using Delayed job. The PR is not ready to be merged yet, but I'm trying to finish it ASAP :)

[2015-03-09 17:08] Alwahsh commented on #224
I've set up one if you want to use it...
http://glittergallery-themonster.rhcloud.com/

[2015-03-09 17:12] EmilyDirsh commented on #232
@sonalkr132 something like that would be good for testing email during development, but it's not going to fix the bug outside of a dev environment. Also, according to the home page, letter_opener only works in a local environment, I'd prefer looking into one of their suggestions - http://mailcatcher.me/ - for a more flexible solution.

[2015-03-09 17:13] EmilyDirsh commented on #232
@Alwahsh great to hear. Delayed Job will be a nice enhancement, both for email and image processing.

[2015-03-09 17:18] EmilyDirsh commented on #224
@Alwahsh thanks, but I need to own the demo in order to set up the alias.

[2015-03-09 17:29] EmilyDirsh commented on #222
@sbagroy986 screens LGTM - go ahead and send in the PR.

[2015-03-09 17:30] EmilyDirsh commented on #127
@rohitpaulk - is this still relevant? I'm thinking not, and I'm going to go ahead and close it, but feel free to reopen if you disagree.

[2015-03-09 17:30] #127 closed

[2015-03-09 17:31] EmilyDirsh commented on #58
This looks like it was supposed to be closed, but wasn't for some reason. Closing it now.

[2015-03-09 17:31] #58 closed

[2015-03-09 17:37] EmilyDirsh opened #237 "[RFE] Fork "network" view"
Given the changes in #231, it'd be nice to have a way to display the relationships between an original project and all the downstream forks of that project, whether forked from the original or another fork.

This is similar to the GitHub network feature.

I'd recommend the [Ancestry](https://github.com/stefankroes/ancestry) gem for the implementation.

[2015-03-09 17:42] EmilyDirsh commented on #229
I'd agree with that. I added #237 to track the network view as an enhancement. If you can just update the PR to fix the merge conflicts, we can merge it.

[2015-03-09 17:43] EmilyDirsh commented on #200
I believe this fixed with the referenced PRs.

[2015-03-09 17:43] #200 closed

[2015-03-09 17:49] EmilyDirsh commented on #105
@sarupbanskota I'm going to take you off of this as the assignee. I think this might be a good enhancement for GSoC, so let's open it up to others if they're interested.

[2015-03-09 18:18] EmilyDirsh opened #239 "[RFE] Container support"
tl;dr: Containers are awesome, and GlitterGallery should work in containers.

Containers are becoming increasingly important to IT infrastructures, and therefore to developers and ops folks deploying applications using containers. OpenShift v3 is in beta now and is completely containerized. Being able to run Glitter Gallery in a docker container will allow us a really easy way to distribute GG, an

[2015-03-09 18:20] EmilyDirsh commented on #239
@sarupbanskota I know you've started working on this some. Can you track your progress in this issue? If you want to continue working on it, assign it to yourself. If you don't have time, let's just leave it open for whoever wants to pick it up.

[2015-03-09 20:50] sarupbanskota commented on #229
I may be wrong, but I _think_ GitHub used to behave the way Emily described. I distinctly remember trying it a year or so ago, when I was working out how to do this model.

I'm not adding anything new to the conversation, but essentially we need a way to go back up to the parent. That's the reason why I thought about it this way to start with - back then on IRC, when I observed at how Fedora's des

[2015-03-09 20:53] sarupbanskota commented on #237
yup among other ideas, just noting:

* alert user with what's happening
* provide user with choices

[2015-03-09 20:55] sarupbanskota commented on #239
I'll leave it open. I have inconsistent bursts of time available, don't want to be a blocker :)

[2015-03-10 00:03] EmilyDirsh commented on #151
@rohitpaulk - is this still relevant? Just trying to clean up the issue tracker...

[2015-03-10 00:04] EmilyDirsh commented on #157
@rohitpaulk - from what I can see, this is fixed. I'm going to close it, please reopen if it's still needed.

[2015-03-10 00:04] #157 closed

[2015-03-10 03:06] Alwahsh commented on #237
What should happen when a project is deleted? Should his children be mapped to his parent? what if it was the root project? Each of its children becomes root?

[2015-03-10 05:42] rohitpaulk commented on #151
It is relevant, yes. :)

[2015-03-10 11:12] sonalkr132 opened #241 "Gravatar not working"
application_helper.rb has defined gravatar with:
[code]
Now problem is that default image for avatar has to be online. Read [here](https://en.gravatar.com/site/implement/images#default-image)

Suggestions?

[2015-03-10 11:15] Alwahsh commented on #241
in production, the image is online :)

[2015-03-10 11:17] sonalkr132 commented on #241
Oh sorry! Didn't think of it that way.

[2015-03-10 11:17] #241 closed

[2015-03-10 12:10] sarupbanskota commented on #224
@EmilyDirsh - could you please look after this when you're around the next time? We should keep at least one demo live on the readme, or it leads to more emails :) also, maybe should also set a hook off master and leave a note on the readme about it.

[2015-03-10 12:27] tvvocold commented on #224
BTW, if there are no HTTP connections to your application for 24 hours, OpenShift idles the gear. So u can use uptimerobot.com to GET ur alias every 5 min to avoid the idle.

[2015-03-10 13:38] rohitpaulk commented on #224
This only happens on free gears. If we're using free gears and our app is not being hit every 24 hours, we shouldn't try to game the system by pinging it every 5 mins, rather just make do the ~30s lag when the first request goes through.

[2015-03-10 15:36] EmilyDirsh commented on #237
that's a good question. I think we want to preserve the relationship between the branches. I think we really need a soft delete for this. What I mean by that is when a user deletes a project, instead of removing it from the database, we mark it as deleted. We can still remove the repo, and we can remove the list of followers, and anything else that makes sense, but we keep the entry in the databas

[2015-03-10 15:41] EmilyDirsh commented on #151
Do we need to discuss it more, or are we just waiting on implementation?

[2015-03-10 16:27] rohitpaulk commented on #151
We discussed this over email long ago. From the blog post:

[2015-03-10 17:22] EmilyDirsh commented on #224
Alright, demo is up at demo.glittergallery.net, and the landing page is updated to point to the new demo.

[2015-03-10 17:22] #224 closed

[2015-03-10 17:23] EmilyDirsh commented on #151
@rohitpaulk - I'm thinking this might be a good first bug - what do you think?

[2015-03-10 19:48] sbagroy986 commented on #105
Do you think something like this would look good for the representation of files? http://tympanus.net/Tutorials/ResponsiveImageGallery/

[2015-03-10 22:54] Alwahsh opened #243 "Resolving the assets issue"
If I understood what's going on correctly, openshift has problems with compiling our assets on deployment.
The current solution is to compile the assets manually whenever we introduce a change to the assets and push it with the source code. This makes the repo keep getting bigger and bigger with every simple change in the assets.

If we can't resolve the openshift issue with compilation. I suggest

[2015-03-11 06:35] rohitpaulk commented on #243
IIRC the precompilation isn't because Openshift had problems, it was because we thought that our builds were taking too long. Turns out it wasn't the asset precompilation that was slowing us down, it was bundle install.

I agree, we shouldn't keep assets in the repo. Configuring Openshift to compile them on deployment seems like the right way to go.

[2015-03-11 08:10] mecyborg opened #246 "Rails Error if No Project Exists"
Update/Fix: Trigger a 404 error page if no project exists

Update2: Added 'No Projects' tag if no projects are available.

[2015-03-11 08:11] mecyborg commented on #246
PR sent. #235

[2015-03-11 11:45] mecyborg commented on #246
Mergerd.

[2015-03-11 11:45] #246 closed

[2015-03-11 15:28] EmilyDirsh commented on #243
OpenShift _does_ compile them on deployment by default. If they're already compiled (like ours are) then rails doesn't recompile. Switching the gem source from rubygems.org to the [OpenShift mirror] (https://developers.openshift.com/en/ruby-getting-started.html#_ruby_mirror) really speeds up builds. It'd be nice to automatically switch it when deploying to OpenShift - using one of the hooks - but

[2015-03-11 15:38] Alwahsh commented on #243
@rohitpaulk  Thanks for explaining that :)

@EmilyDirsh but the repo contains the marker `disable_asset_compilation` which seems to be the reason why openshift doesn't compile them... I thought you wanted to disable it because of some problem with openshift.
Now that I know the reason... Should we remove the assets folder and the openshift marker from the repo?

[2015-03-11 15:49] philippneugebauer opened #248 "Broken avatar if no gravatar email?"
Took me some while to set up GlitterGallery due to Windows problems, so I switched now to Linux.

Anyway, after signing up with some fake data, I have a broken image in my profile.

When I looked into the code in the application helper and did some search about gravatars default behavior at not found emails, I can't really understand this problem.

Is that a local problem I encountered or can you

[2015-03-11 15:54] philippneugebauer opened #249 "Profile page with notification link"
Is that explicitly wanted that get directed to a new page and losing the context?

I was really confused after I have seen that and from the usability point that is not a good idea in my opinion

[2015-03-11 15:57] Alwahsh commented on #248
This happens locally only because the default image is hosted locally while it has to be on the internet to appear. This just happens in development, not in production

[2015-03-11 16:29] philippneugebauer commented on #248
Why is this picture not part of the git repository?

[2015-03-11 17:13] Alwahsh commented on #248
It is a part of the git repository:
https://github.com/glittergallery/GlitterGallery/blob/master/public/happypanda.png
it's just that gravatar needs teh path of the image to be an online picture. Locally, the picture is at localhost:3000/happypanda.png which is not online. That's why you see nothing.

[2015-03-11 17:22] EmilyDirsh commented on #243
@Alwahsh yep, that's right.

[2015-03-11 17:24] EmilyDirsh commented on #248
We could change that configuration setting to use the github hosted image just for the dev environment, just need to add a check.

[2015-03-11 17:26] EmilyDirsh commented on #249
Could you add some details about this? What action does this happen on, what context is lost? Thanks!

[2015-03-11 17:32] EmilyDirsh commented on #105
@sbagroy986 - that's pretty nice - it could definitely work. Feel free to work on this if you want, just keep in mind this is a pretty big change to the project page, and needs some design work first.

By which I mean, don't start jumping into implementation - first put together some wireframes or mockups of the page, and post them here to get feedback.

[2015-03-11 17:34] philippneugebauer opened #251 "Can't start server or tests due to logger error"
When I try to start my environment, I always get a `NoMethodError: undefined method `logger=' for #<OmniAuth::Configuration:0x00000003078e80>`

Can you confirm that? How do you avoid that?

[2015-03-11 17:36] philippneugebauer commented on #249
I have fixed it in my pull request.

I meant, that you lose the context when you click on notification in your profile area, while the head bar still appears at the user profile and the project menu

[2015-03-11 17:37] Alwahsh commented on #251
I'd say that your work on #250 made that. Try to do it from the master branch and it should work fine :)

[2015-03-11 17:37] philippneugebauer opened #252 "uninitialized constant ActionView::CompiledTemplates::FORK"
When I click on a issue at the issue list, I recieve this error

[2015-03-11 17:40] EmilyDirsh commented on #249
@philippneugebauer okay, that makes more sense. It's probably an oversight.

[2015-03-11 17:42] EmilyDirsh commented on #252
@philippneugebauer I haven't seen that error before myself - could be a side effect of the gem changes you made. Can you post the traceback?

[2015-03-11 17:46] philippneugebauer commented on #251
Yeah, you are right

[2015-03-11 17:46] #251 closed

[2015-03-11 18:10] philippneugebauer commented on #252
I started from scratch and I still get this error

[2015-03-11 18:15] Alwahsh commented on #252
yes this is an issue. I can confirm it.
see this line here:
https://github.com/glittergallery/GlitterGallery/blob/master/app/views/issues/show.html.haml#L22
It should be fixed in #240 after my next push to it since it's related to forked projects :)

[2015-03-11 19:22] sbagroy986 commented on #105
I was thinking I could work on this as well as some of the other changes you mentioned here during the summer (GSoC if i get selected), since as you said, this is a pretty big change.
 Also with the heavy college course load, I don't think I'd be able to work on this properly before summer, either way.
I'd definitely want to work on it tho!

[2015-03-12 08:07] mecyborg commented on #248
@EmilyDirsh Fixed with #257

[2015-03-12 11:41] rohitpaulk opened #258 "Add a code style linter to Travis"
This will involve a lot of work correcting the existing codebase, but it'll be worth it.

The most popular seems to be https://github.com/bbatsov/rubocop. We won't need all the Rails specific checks, just basic code style.

[2015-03-12 16:11] EmilyDirsh commented on #105
@sbagroy986 makes sense to me. This would definitely be a good fit for GSoC! :)

[2015-03-13 17:14] sonalkr132 opened #260 "use of OPENSHIFT_DATA_DIR"
#228 leads to broken image
![screenshot from 2015-03-13 09 56 22](https://cloud.githubusercontent.com/assets/7680662/6643228/a21de5ac-c9d0-11e4-8874-2850dff96560.png)
You might say, lets use
[code]
But things don't get any easier, as openshift seem to have bug related to OPENSHIFT_DATA_DIR. image's path get resolved to "/var/lib/openshift/xxxxx/app-root/data/....." instead of "app-root/data/..." w

[2015-03-13 20:29] mecyborg opened #261 "Rails default server (WEBrick)"
Currently the GG is running on the default rails server (WEBrick).
As there are many limitations with WEBrick, should we upgrade server to unicorn, thin or puma ?

What do you think ?

[2015-03-13 20:43] charithhewage commented on #105
<strong>@sbagroy986</strong> If you don't mind I would like to work on this.
I am <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">Charith</a>, Final year student at Faculty of Information Technology in University of Moratuwa - Sri Lanka.
I have forked this repo and tested in locally (some bug fixes as well). By considering UI/UX concepts I desig

[2015-03-13 21:50] sbagroy986 commented on #105
I feel that the design I suggested could very easily be as effective. IMO, I think the ones I suggested are better looking, but its your call Emily and Sarup. I 've already put this in my proposal, so please let me know :)

[2015-03-13 22:01] charithhewage commented on #105
@sbagroy986 Sorry for the inconvenience. That image viewer you mentioned is very nice too.. Then we can continue on that. I just suggest :). Sorry again :)

[2015-03-13 22:03] sbagroy986 commented on #105
No problem @charithhewage ! Let's hear what Sarup or Emily have to say and we can go about this accordingly then :)

[2015-03-14 15:30] #243 closed

[2015-03-14 16:36] sarupbanskota commented on #105
Hey everyone - sorry about being late on this thread.

@charithhewage your work on the demo file is clearly more consistent with the popular GitHub interface and the mockups seem fine to me. However, implementation-wise, we intentionally want to stay away from Bootstrap.

Reasons:
* we want to keep the markup separate from the presentation. Bootstrap grid is class name based, which means you speci

[2015-03-14 17:12] #237 closed

[2015-03-14 17:14] #252 closed

[2015-03-14 17:17] charithhewage commented on #105
@sarupbanskota Thank for your comment.
I followed Github,Gitlab,bitbucket to manage the content.
Yes, As you said, after making the app full functional we can enhance the UI :)
I will study http://jeet.gs and Bourbon, Compass as well. :)

[2015-03-14 17:35] #248 closed

[2015-03-14 22:12] Alwahsh commented on #260
In my opinion, the best thing to do is to go back to what we had. It works well and easier in setup.

[2015-03-14 23:37] sonalkr132 commented on #260
Didn't that have issue with having to delete "public/data" symlink file manually in deb env?

My current implementation doesn't require that, and content uploaded by user still persists between deployments. I have added that line to build, so a soft link gets created every time we deploy, so kinda like what we had in beginning, but now that file is added during deployment(no need to worry about in

[2015-03-14 23:43] sonalkr132 commented on #258
I know I need it more badly that anyone -_-
Any useful links? also we should have wiki for coding style and best practices for noobs like me :stuck_out_tongue_closed_eyes:

[2015-03-15 00:07] Alwahsh commented on #260
Oh... I didn't read that line of adding it to the action_hook. Seems good to me except that I have a single suggestion:
use this line instead of writing the path yourself:
` ln -sf ${OPENSHIFT_DATA_DIR} ${OPENSHIFT_REPO_DIR}/public/data`
I suggest you make a PR with those modifications.

[2015-03-15 00:14] sonalkr132 commented on #260
Thats the apparent bug I was talking about. During upload of content everything is fine(ie content is stored in app-root/data) but while fetching "OPENSHIFT_DATA_DIR" gets resolved to  "/var/lib/openshift/xxxxx/app-root/data/....." instead of "app-root/data/...". So i used the explicit path.

[2015-03-15 00:21] Alwahsh commented on #260
I don't see it a problem that OPENSHIFT_DATA_DIR gets resolved to /var/lib/openshift/xxxxx/app-root/data/
It just means that it was wrong to use it to link to something in html but creating a symlink from the public folder to where it really is is the way to resolve it.
Please let me know if I'm missing something here :)

[2015-03-15 00:34] sonalkr132 commented on #260
OPENSHIFT_DATA_DIR resolving to "/var/lib/openshift/xxxxx/app-root/data/some.file" means that we sending request which looks like "http://new-glitterfollowers.rhcloud.com/var/lib/openshift/xxxxx/app-root/data/some.file" when file doesn't exist there. It exists at "http://new-glitterfollowers.rhcloud.com/app-root/data/some.file".

We can use absolute path instead of relative path? idk! I think at s

[2015-03-15 00:36] Alwahsh commented on #260
OK... I understand that... I'm not sure though how my suggestion hits that issue... This issue will appear if we directly link to the file from within the rails app using `OPENSHIFT_DATA_DIR` but we can use it safely for the symlink...

[2015-03-15 00:41] sonalkr132 commented on #260
nope.. we can't. I tried that too -_- thats one of the reason it took me like a day to get everything working on openshift.

[code]
and
[code]
have same effect. they both render pictures with src = "var/lib/openshift/xxxxx/app-root/data/...." when it should use "app-root/data/...."

[2015-03-15 00:46] Alwahsh commented on #260
The first piece of code is definitely wrong.
The second one however... I'm kinda sure works if you fix the first one, I can't imagine that on a Rails app you'd say
`link_to "link","data/something"` would be translated into "var/lib/.." because data is a symlink to that... It really makes no sense :)

[2015-03-15 00:53] sonalkr132 commented on #260
we have "${OPENSHIFT_REPO_DIR}/public/data" symlink to "${OPENSHIFT_DATA_DIR}" and ""${OPENSHIFT_DATA_DIR}" resolves to "var/lib/openshift/xxxxx/app-root/data/....". So it's like

${OPENSHIFT_REPO_DIR}/public/data -> ${OPENSHIFT_DATA_DIR} -> var/lib/openshift/xxxxx/app-root/data/....

But during upload using same "${OPENSHIFT_DATA_DIR}" content get stored at "app-root/data/...." weird  right? lol.

[2015-03-15 00:57] Alwahsh commented on #260
I'd say that the behavior you described is what makes sense to me. That's what I expect to happen at least :)

I believe what happenned is as follows:
when you tried the line I suggested, you forgot to modify this part:
`Glitter::Application.config.repo_dir=ENV['OPENSHIFT_DATA_DIR'] +"data/"`
which would have the effect of making upload only works so you thought it was because of the `OPENSHIFT_DA

[2015-03-15 01:03] sonalkr132 commented on #260
nope! I was using
[code]
which would hit the symlink created by
[code]
Seriouly! try it yourself if you find it hard to believe.

[2015-03-15 01:09] Alwahsh commented on #260
It works as expected :)

[2015-03-15 01:12] sonalkr132 commented on #260
let me try again. I remember it precisely that i tried your way too.

[2015-03-15 01:13] Alwahsh commented on #260
I expect that it has all gone as I told you before. You simply forgot to modify the code :)

[2015-03-15 01:18] sonalkr132 commented on #260
damn! it works.

Sorry.. my bad!

[2015-03-15 01:19] Alwahsh commented on #260
np, it's cool :)

[2015-03-15 01:26] sonalkr132 commented on #260
Do you think adding an
[code]

[2015-03-15 08:42] rohitpaulk commented on #258
https://github.com/bbatsov/ruby-style-guide

[2015-03-15 08:46] rohitpaulk commented on #260
We're sticking to OpenShift now, so run your demos in non-scalable mode and we'll be fine. This is a limitation of OpenShift, I don't think that we should waste our time working around it.

[2015-03-15 08:54] sonalkr132 commented on #260
"this directory" as in? app-root/data?

[2015-03-15 08:56] sonalkr132 commented on #258
yeah I saw that. Actually:

![screenshot from 2015-03-15 12 58 23](https://cloud.githubusercontent.com/assets/7680662/6655300/04f8ea38-cb1f-11e4-9b6c-0abe08f7a878.png)

That is rubocop with all its defaults.we should discuss about defining our own .rubocop.yml file? using [this](https://github.com/openSUSE/osem/blob/master/.rubocop.yml) offenses were reduced to 700

[2015-03-15 10:14] ChenLiZhan commented on #187
It's my first touch in this project, and I'm interested in this issue. Is this the existing mechanism and you want to improve or it's a new system we can create? I cant wait to start coding! Thanks

[2015-03-15 12:23] Alwahsh commented on #260
@rohitpaulk you might want to check [that line](https://github.com/glittergallery/GlitterGallery/blob/master/app/models/project.rb#L47):
See if we don't define it as "public/data" you're going to link to it at the HTML level incorrectly.

[2015-03-15 12:36] rohitpaulk commented on #260
@Alwahsh - You're right. My solution wouldn't work unless we're serving the assets from `OPENSHIFT_DATA_DIR`. I'm going to merge #264.

[2015-03-15 12:37] #260 closed

[2015-03-15 12:38] Alwahsh commented on #260
@rohitpaulk I also think that since we're forcing the configuration to be a certain thing, wouldn't it be better if we disallow this configuration at all?

[2015-03-15 12:49] rohitpaulk commented on #260
@Alwahsh - from what I understand - As long as the directory is within `public`, we're fine. The reason I introduced the config there initially, was for the test directory. Our tests use `/public/testdata` or something similar - it's washed out after the tests are done.

The proper solution to this would be to **not** force the configuration to be a certain thing. We should support interchangeable

[2015-03-15 15:18] sonalkr132 commented on #260
@rohitpaulk

This is true for scaleable apps, but by default apps are non-scaleable. [link](https://developers.openshift.com/en/managing-scaling.html#creating-a-scalable-application) So demos we are running are non-scaleable by default.

And can someone be kind enough to explain what is meant by "disallowing configuration" ? I have no clue what it is :confused:

[2015-03-15 15:23] Alwahsh commented on #260
@sonalkr132 I meant to not allow users to set the folder they want to use for data by themselves as in [here](https://github.com/glittergallery/GlitterGallery/blob/master/config/initializers/0_glitterconfig.rb#L42) but now I believe it is better to allow them full control... I already have in mind some setup to allow for full configuration.

[2015-03-15 15:29] sonalkr132 commented on #260
What advantage would we have if we let someone decide where does he want the repos to be store?

[2015-03-15 15:46] Alwahsh commented on #260
it's not to our advantage but the user would definitely have advantages... Think of this, if we didn't allow him to configure where he wants the repos to be stored, we might have used a path that gets deleted by openshift on deployment which would be bad. There's really countless advantages to the user from being able to decide :)

[2015-03-15 16:28] ChenLiZhan commented on #239
I have some experience on Docker, can we discuss more detail :)

[2015-03-15 16:30] ChenLiZhan commented on #239
I think you want GG becomes a dockerize application! Is there anything that might I need to aware?

[2015-03-16 00:26] EmilyDirsh commented on #258
I'd prefer the rubocop defaults, since that uses the popular style guide that @rohitpaulk referred to above. It's more work to correct the code base, but it means less work defining and maintaining our own style guide, and will ultimately make it easier for new contributors.

[2015-03-16 00:40] EmilyDirsh commented on #105
@charithhewage, your mockups are a bit too much like github IMO. We don't want to recreate the github interface, since we're catering to much different audiences and use cases.

[2015-03-16 00:51] charithhewage commented on #105
Yes @EmilyDirsh , After reading surup's comment i studied the current template with http://jeet.js framework. So my template should be changed.
Now i am working on some bug fixes and writing testcases. As well as the existing code can be refactored more. So i will update you after finishing this :)

[2015-03-16 01:01] sonalkr132 commented on #258
I was thinking may be first we can write a simple .rubocop.yml, which counts only indentation and other textual offenses and not the coding style. For example by default it counts too long methods as offense, now re factoring them would be quite and involved approac and we have got a good number of long method definitions. Besides that it also counts no documentation as offense, another quite invo

[2015-03-17 01:10] Alwahsh commented on #237
@EmilyDirsh sorry for opening this again but what should happen if a person had deleted a project and then decided to create one with the same name. A possible option would be to really delete the soft deleted one but then we go back to deciding what to do with his children. Another option is to update the soft deleted one with the info of the new one and restore it but then it would have wrong ch

[2015-03-17 13:17] EmilyDirsh commented on #237
@Alwahsh not allowing the user to create one with the same name seems reasonable to me. At least for now.

[2015-03-17 13:35] EmilyDirsh commented on #260
We should keep the configuration. We're running demos on OpenShift, but we can't assume that other people might not want to run GG in other environments, and while we don't have to specifically support that, we shouldn't go out of our way to hinder it, either.

[2015-03-17 13:41] EmilyDirsh commented on #258
@sonalkr132 I think it's fine to start small - just fix indentation, etc, but I'd like to maintain all the default checks still. For one thing, it's very likely that we'll all forget to go back and add the remaining checks in the future. For another thing, it'd be good to have all new contributions match the default, stricter criteria.

[2015-03-17 13:43] EmilyDirsh commented on #261
@mecyborg could you give some more details about what limitations WEBrick has vs the other servers you mentioned? Also I think WEBrick is only running in dev and test environments. Given this, is it still important to use something besides WEBrick?

@sarupbanskota, @rohitpaulk - do you guys have any thoughts on this proposal?

[2015-03-17 13:51] EmilyDirsh commented on #187
This would be the history view, which is under the log tab. I think we should keep the commenting in multiple places, unless it's causing a lot of problems.

There are a number of use cases for commenting on older versions of an image, so I'd prefer to keep that.

[2015-03-17 14:08] sonalkr132 commented on #258
I would still suggest, turning some of the offenses off for now would be helpful for anyone who is fixing it. Don't worry that we won't go back to fix the rest of issues, you will have to take my word for it. Besides that we don't need everything of rubocop, for ex: it requires that every class definition has a comment block above it, I don't think anyone does that for rails apps.
New contributers

[2015-03-17 14:17] Alwahsh commented on #258
I strongly disagree with that. These comments are very helpful and allows any one who reads the code to understand what everything does. At least for me, I write a comment above functions I define. Note that these comments are used later by documentation tools like [rdoc](https://github.com/rdoc/rdoc) to generate readable HTML documentation.

[2015-03-17 14:24] Alwahsh commented on #258
You were talking about class definitions :). I still find it helpful to have a comment block above models classes at least that describe the tables in the db. Anyways, this is pretty straightforward and you can use a tool to produce it. See [annotate_models](https://github.com/ctran/annotate_models).

[2015-03-17 14:47] sonalkr132 commented on #258
All I want is that we have our own .rubocop.yml :( everyone else has it [osem](https://github.com/sonalkr132/osem/blob/master/.rubocop.yml), [gitlabhq](https://github.com/gitlabhq/gitlabhq/blob/master/.rubocop.yml), [spree](https://github.com/spree/spree/blob/master/.rubocop.yml), [kandan](https://github.com/kandanapp/kandan/blob/master/app/models/attachment.rb).

I just looked at some more popula

[2015-03-17 14:54] Alwahsh commented on #258
We wouldn't want to have something just because everyone has it. You can learn best practice from those but apply it to the best fit for you. I don't think it's a problem if we have it failing on travis for sometime... At least we can make sure that upcoming modifications won't make the numbers increase ;)

If it'd be useful for the readability of our app, then I wouldn't care if others don't have

[2015-03-17 14:57] ChenLiZhan commented on #187
Okay! So do you want to display the comments associated with the version. What do you think we can limit the amount of comments and hide the extra comments. If users want to see the full conversation, they can just click "more" to see the full talk.

[2015-03-17 16:23] mecyborg commented on #261
WEBrick is OK for development and testing but for production i think we should switch to other servers. Some of the limitations are, by default WEBrick is single threaded, single process. We can make it multi threaded though. It does not support subdomains. It can't handle longer URLs, if they exceed 2083 chars it will crash.

[2015-03-17 16:41] sonalkr132 commented on #261
On Openshift we are using passenger, running inside Apache by default.

[2015-03-17 17:27] sarupbanskota commented on #261
I honestly don't know much about these servers to have a solid opinion.
That said, I'd like to ask: how does the switching difficulty change if we
were to do it later later, at a point when we're more complex? What parts
of code will change, and how will it affect other dependent parts?

Sarup

On Tue, Mar 17, 2015 at 10:11 PM, Aditya Prakash <notifications@github.com>
wrote:

[2015-03-17 17:34] mecyborg commented on #261
@sarupbanskota there are no difficulties in switching between these servers. It can be easily done by just adding and removing gems for different servers and editing some server configurations.

[2015-03-18 10:02] rohitpaulk commented on #185
https://github.com/glittergallery/GlitterGallery/pull/254#issuecomment-82853815

Closing.

[2015-03-18 10:02] #185 closed

[2015-03-18 14:28] charithhewage commented on #237
I just tried this in Github using two accounts. In Github, repo owner can delete it, but forked items will be changed forked to own repos. Please find the attachment bellow. i think we can implement something like this. :)
![fork function in github](https://cloud.githubusercontent.com/assets/6915496/6710772/f6014f70-cda8-11e4-8a7f-56bc44983744.jpg)

[2015-03-18 14:45] EmilyDirsh commented on #239
#259 is addressing this

[2015-03-18 14:55] EmilyDirsh commented on #229
Resolved in #240

[2015-03-18 14:55] #229 closed

[2015-03-18 15:04] EmilyDirsh commented on #40
We're not doing glitterposts anymore, so closing this.

[2015-03-18 15:04] #40 closed

[2015-03-18 15:04] EmilyDirsh commented on #38
We're not including this feature for the time being, so closing this.

[2015-03-18 15:04] #38 closed

[2015-03-18 15:17] #239 closed

[2015-03-18 15:19] sarupbanskota commented on #261
@mecyborg in that case, I'd say let it stay the way it is for now. When we start to see problems with an active deployment, we'll bring it up again.

[2015-03-18 15:19] #261 closed

[2015-03-19 09:12] mecyborg commented on #261
@sarupbanskota ok. We will update the server as when there is any issue.

[2015-03-20 13:27] #197 closed

[2015-03-20 16:19] sonalkr132 opened #273 "user's page and follow"
Way we handling follow isn't great yet. Right now, if you click follow on your own profile, it would do nothing.. it would just render everything again (please ignore my demo). Previously it would redirect to dashboard but @Alwahsh added a test which requires for user to stay on same page and I think it makes sense. User should stay on same page if he is already logged on, what we should do is fla

[2015-03-20 16:22] rohitpaulk commented on #273
I don't think that's very bad UX, quite common in fact. I'd recommend doing the backend work and getting the flash notice there first - we can worry about small UI nuances later.

[2015-03-20 16:46] Alwahsh commented on #273
I've actually noticed that the rendering of flash messages is not put in the layout... It is put in the shared/messages which IMO is not a good practice. I was planning to move it to the layout but never got to it :). If we do that, all flashes would appear(following is not the only flash message that you don't see).

For the follow button, I remember that it is doing its request using AJAX. We th

[2015-03-20 17:07] #249 closed

[2015-03-20 18:04] mecyborg commented on #273
Flash messages is a good idea, We should do this.
And what about linking profiles of followed/following users ?

[2015-03-20 18:56] sonalkr132 commented on #273
Looks awful! Or may be I am really bad at designs :grin:
![untitled](https://cloud.githubusercontent.com/assets/7680662/6758759/9e111110-cf60-11e4-9dd3-43afc54c38c1.png)

[2015-03-20 18:58] Alwahsh commented on #273
I think that would look good when coded ;)

[2015-03-20 19:14] mecyborg commented on #273
We can show alerts at right bottom corner !

[2015-03-20 21:11] rohitpaulk commented on #258
I'm reopening this - I only added specs to the models and controllers, as they were the most important. We should also include the ruby files under `spec/`.

[2015-03-20 21:17] sonalkr132 commented on #258
We can also check haml files with haml-lint if we hook it to github.

[2015-03-21 09:52] sonalkr132 opened #274 "Updates required on wiki"
1. Deploying on openshift
  * replace the merged "assets" file with original assests
  * git rm public/index.html
  * git rm app/views/layouts/application.html.erb

    I don't know if others who deployed had the same issues but it wasted a lot of my time.

2. Handling of secrets
  I am still waiting to hear about [comment](https://github.com/glittergallery/GlitterGallery/pull/255#issuecomment-784

[2015-03-21 14:10] mecyborg commented on #274
Minor spelling mistake: its ''mailcatcher'' :)

[2015-03-21 14:14] Alwahsh commented on #274
Yeah, I did... Sorry that I didn't announce it then.. Would've saved you some time.

[2015-03-21 14:22] Alwahsh commented on #274
Ah now I remembered why I didn't announce it at that time... The repo had the disable compilation and had the assets in the public folder so it should've worked correctly... I just couldn't upload the assets due to their large size so I had to search for a workaround... Didn't think others will need it.

[2015-03-22 02:25] sonalkr132 commented on #274
@Alwahsh You have made a few changes related to assets. Did you try to deploy on openshift after that? Do we still need to place the assets folder?

@EmilyDirsh What other updates did you have on your mind when you mentioned it in [this](https://github.com/glittergallery/GlitterGallery/pull/240#issuecomment-83008057) comment?

[2015-03-22 02:26] sonalkr132 commented on #274
@mecyborg thanks! I updated it.

[2015-03-22 02:28] sonalkr132 commented on #273
or may be bottom left like fb ;)

[2015-03-22 03:37] Alwahsh commented on #274
@sonalkr132 I only deleted the public/assets folder.. The only thing I remember that I needed to do is what I advised you to do, remove the full app/assets folder from the default openshift application before merging GG.

I think that should be added. Not sure if that's what you meant by your first point but if so, you don't actually need to replace the merged one with the original one... Just del

[2015-03-22 03:55] sonalkr132 commented on #274
Correct me if I am wrong, but our **run glittergallery** should look like

3.Clone the application repo: git clone <OpenShift git URL>
4.Change into the cloned directory
5.git rm -r app/assets/
6.Add the GlitterGallery repo: git remote add glitter -m master http://github.com/glittergallery/GlitterGallery.git
7.Pull: git pull -s recursive -X theirs glitter master

[2015-03-22 03:58] Alwahsh commented on #274
yeah... I think so

[2015-03-24 16:14] sonalkr132 opened #279 "test: Redirected to login page for JS requests"
This is the result of two consecutive runs of `rspec` without changing anything in files.
![screenshot from 2015-03-c24 20 22 42](https://cloud.githubusercontent.com/assets/7680662/6806415/99f680ae-d26e-11e4-9ea3-de8eb22bd3cf.png)

During first run it failed and in next one it passed!
Am I the only one who is seeing this? Could this be an issue of my local env?

[2015-03-24 16:35] sonalkr132 commented on #274
I guess it's about time we make changes, if emily has to add something we will add it later.
Just quick question tho.. should we add these to `readme.markdown` or [Usage Instructions](https://github.com/glittergallery/GlitterGallery/wiki/Usage-Instructions).

These are the things one would need to do even if he is working in dev env, I think they should go on landing page.

[2015-03-24 17:17] Alwahsh commented on #279
No, I have it too and it seems like a problem with webkit... I'm planning to have a proper look at it once I get some time unless @rohitpaulk fixed it first :P.

[2015-03-24 17:26] rohitpaulk commented on #279
I tried running like 5 times in a row - and I couldn't see an error, so I just assumed that what we had was working :P

[2015-03-24 19:42] sarupbanskota commented on #274
put them on the wiki for now.

[2015-03-24 19:55] sonalkr132 commented on #274
What about the changes required in deployment on openshift?

[2015-03-28 03:04] sonalkr132 commented on #274
We should create [get involved](https://github.com/glittergallery/GlitterGallery/wiki/getinvolved) page now. We should tell contributors that they need to run `rubocop`, `haml-lint` and `rspec` before they submit a PR and where they can find help if they are having problem passing anyone of them.

[2015-03-28 03:07] sonalkr132 commented on #274
Hey we already have [get involved!](https://github.com/glittergallery/GlitterGallery/wiki/Get-Involved!). I was looking at one in [home](https://github.com/glittergallery/GlitterGallery/wiki) page of wiki. There link is broken, I guess we need to fix that too.

[2015-03-28 07:21] sarupbanskota commented on #274
@sonalkr132, deployment changes on the README, and feel free to update the wiki :-)

[2015-03-30 03:54] #258 closed

[2015-03-31 14:53] sonalkr132 opened #285 "Issue create redirects to dashboard of projects"
Create method of Issue has:
[code]
Shouldn't it redirect to issue show page?

[2015-03-31 14:55] Alwahsh commented on #285
yeah... I actually made it work like that in a PR that I didn't yet upload :)

[2015-03-31 14:56] sonalkr132 commented on #285
oh can you reference PR here? I will close it.

[2015-03-31 14:58] Alwahsh commented on #285
I don't think you should close it... They might have some reason for making it that way so I suggest you leave this open till they confirm.

[2015-03-31 16:45] mecyborg commented on #285
I was also wondering why its like that but it can be intentional, so please wait till they confirm.

[2015-03-31 19:27] sarupbanskota commented on #285
It should redirect to issue page, correct.

Sarup

On Tue, Mar 31, 2015 at 10:15 PM, Nikunj Gupta <notifications@github.com>
wrote:

[2015-04-02 06:02] sonalkr132 opened #287 "File update method in projects controller"
Here is the method: [projects_c/line272](https://github.com/glittergallery/GlitterGallery/blob/master/app/controllers/projects_controller.rb#L272)
and here the satellite method it is calling [application_c/line55](https://github.com/glittergallery/GlitterGallery/blob/master/app/controllers/application_controller.rb#L55)
This is driving me insane -_- lets begin!
`satellite_commit` has 3 arguments i

[2015-04-09 07:00] sarupbanskota commented on #220
What's the status on this? If it's yet to be worked on, @sonalkr132 would like to take it up.

[2015-04-19 12:21] Alwahsh commented on #285
This can be closed now.

[2015-05-06 11:07] sonalkr132 commented on #285
fixed: #292

[2015-05-06 11:07] #285 closed

[2015-05-06 11:08] sonalkr132 commented on #287
This is mostly irrelevant after #292

[2015-05-06 11:08] #287 closed

[2015-05-20 20:33] #191 closed

[2015-05-21 10:47] chi6rag commented on #232
I believe the problem still persists.
Have a look at this:

![comments_wont_work](http://res.cloudinary.com/chi6rag/image/upload/v1432205216/GlitterGallery/gg__buggy_self_comments.png)

[2015-05-21 10:57] chi6rag opened #299 "Image won't show on user/project_name"
I visited the project show page here:
http://demo.glittergallery.net/chi6rag/EdenGarden

Result: broken image

![image_wont_show](http://res.cloudinary.com/chi6rag/image/upload/v1432205832/GlitterGallery/gg_image_wont_show.png)

[2015-05-21 11:06] sonalkr132 commented on #232
You are looking at demo. It is not always up to date with master. Can you please pull [master](https://github.com/glittergallery/GlitterGallery.git) and check if problem exists there? I don't think it should.

[2015-05-21 11:11] sonalkr132 commented on #299
This problem should not exist on current master either. It was fixed in #264. I will try to deploy and confirm.

[2015-05-21 17:58] sonalkr132 commented on #232
@chi6rag  check this: http://demo-glitterfollowers.rhcloud.com/ Even this is not master, so you might not see all the features. However, the two issues you mentioned are fixed here.

Also, our work with comments is not done yet. Read [this](https://github.com/glittergallery/GlitterGallery/pull/254#issuecomment-104000371) comment for further info.

[2015-05-31 14:45] #234 closed

[2015-05-31 14:45] #232 closed

[2015-05-31 15:51] sonalkr132 commented on #299
this can be closed too!

[2015-05-31 15:51] #299 closed

[2015-08-25 04:32] sonalkr132 opened #306 "File type stats layout"
Following is all I can think of when it comes to layout of filetype of a particular project:
![screenshot from 2015-08-2s4 23 13 23](https://cloud.githubusercontent.com/assets/7680662/9458739/12c087d6-4b10-11e5-9b8e-41f74b212ca8.png)

Does it feel too githuby? I am open to any other suggestions.

[2015-08-25 19:48] sonalkr132 opened #307 "Full text search and shift to postgres"
We should perform full text search on issues and its comments, and multi-search on users and projects (taking association in consideration). It is not really that difficult to implement especially with [pg_search](https://github.com/Casecommons/pg_search). However, it is quite a pill in case of mysql. Only usable gem I know is [thinking-sphinx](https://github.com/pat/thinking-sphinx), and it doesn

[2015-08-26 19:52] sarupbanskota commented on #306
@sonalkr132 it looks fine for now :) we can always improve later.

[2015-09-04 16:03] sonalkr132 commented on #307
@EmilyDirsh, I believe @sarupbanskota has left this for you to answer. Can you please have a look.

[2015-09-06 05:04] sonalkr132 commented on #306
I ended up making this:
![screenshot from 2015-09-06 10 30 35](https://cloud.githubusercontent.com/assets/7680662/9702587/8f93a31c-5482-11e5-8fd2-a98ddd0e360a.png)
Github uses css, I have used canvas. I hope [canvas.js](https://github.com/sonalkr132/GlitterGallery/blob/2b1b966f6d61184158acda425fdf03dc0275245e/app/assets/javascripts/canvas.js) file is not too big.

[2015-09-10 13:13] sonalkr132 opened #308 "Missing license info"
As far as I can tell, our repo doesn't have any license of use. We had agreed that we will be using MIT license.
There are a few images which should be removed as we don't really know what license they are using.
* [naruto.png](https://github.com/glittergallery/GlitterGallery/blob/master/spec/factories/files/naruto.png)
* [usercover.jpg](https://github.com/glittergallery/GlitterGallery/blob/master

[2015-09-19 02:36] sonalkr132 commented on #307
closed by: #305

[2015-09-19 02:36] #307 closed

[2015-09-19 02:36] sonalkr132 commented on #306
closed by: #305

[2015-09-19 02:36] #306 closed

[2015-09-19 02:36] sonalkr132 commented on #279
closed by: #305

[2015-09-19 02:36] #279 closed

[2015-09-19 05:08] sonalkr132 opened #309 "Previous work on image annotation"
Currently [jquery.annotate.js](https://github.com/glittergallery/GlitterGallery/blob/master/app/assets/javascripts/jquery.annotate.js) exists in our repo, which isn't really surving any purpose. It was introduced in ecbfc51 and it's dependencies (images?) were removed in c8b2d0d. Did it use to work? Commit message reads: "Add *non-persistent flickr notes* to static images". Is no database support

[2015-10-15 13:28] sonalkr132 commented on #309
Problem with that our image tags are just huge since it doesn't contain image as a file but string/blob. ie our src is of the form:
"data:image/svg+xml;base64, #{Base64.encode64(image[:data])}"
 This is a huge performance issue as basically whole image (size can be as large as a couple of MBs) is sent over network and every annotation will have to wait until all the data is sent back. Beside this,

[2015-10-15 18:17] sarupbanskota commented on #309
Posting this based on the email you sent out to the design team mailer.

Yes, you can serve the images as png, as long as you maintain their svg nature in the repo itself.

[2015-10-20 12:36] sonalkr132 opened #312 "Image update with a different filename"
What happens when a user tries to update an image from web interface is kinda confusing. if `filename.png` is updated with another image `anothername.png`,  updated image is still called `filename.png`.

Is this desired behavior?

[2015-10-20 14:41] sarupbanskota commented on #312
Yup.

An "update" to a file is essentially content update. Later on, we could support renaming of files, but that's different from the concept you're hinting at :-)

If a person wants to:
1. update content of one file, based on content of another file in local, he/she can do an *update*
2. update the name of the current file, use the rename functionality (#TODO)
3. add a file with another name and

[2015-10-20 14:41] #312 closed

[2015-10-24 14:04] sonalkr132 opened #313 "Placement and design of buttons on blob view"
Right now, blob view something like this:
![screenshot from 2015-10-24 19 26 07](https://cloud.githubusercontent.com/assets/7680662/10710765/6f86852a-7a85-11e5-9b62-b5729ae05c95.png)
(Annotation persists page reloads. Yay!!)

The breadcrumb area followed by history button looks just ugly. I am yet to add a button for *blob/raw* view and another one which toggle annotation rendering. I am not sure

[2015-10-26 16:50] sonalkr132 opened #314 "After sign in path"
Right now after sign in path is dashboard and it is quite boring:
![screenshot from 2015-10-26 22 07 38](https://cloud.githubusercontent.com/assets/7680662/10735685/3d63a996-7c2f-11e5-95c7-89b7b2a9c56d.png)

Even that one "get me started" button take user to user_edit path (why??!!) Also, this dashboard page is not navigable. There are no link on app which will take you there. I propose that we lo

[2015-10-26 18:08] sonalkr132 opened #315 "Associate comment with projects"
Existing problem with our comments is that there is no way to find project of comments made on `blob`, `tree` and `commit`. This creates problem when we are serving notification. It is crucial that we know which project should a user be redirected when they click on notification link like:
* [user1 has commented on fancy_project's blob/commit/tree](#)

I think it can be solved if we project_id to

[2015-10-27 13:59] sonalkr132 opened #316 "Tree comment association with project"
When you are in current state of repo and comment on top level dir (home page of project show) comments will be associated with project. If you go a level deeper and comment inside a dir then the comment will be associated with tree of repo.
Again if you go to commit view and click on `browse files at this commit`, and decide to comment, both top level comments and comments deeper in repo gets ass

[2015-10-27 18:18] sonalkr132 commented on #315
So this is really disappointing :disappointed:
Adding project_id is not going to be enough for fixing all of our problems. Have a look at a blob url (to which user will need to be send for comments on that blob):
`domain.name/addie/fancy_project/blob/eea87f45d7ed9726267222d8050f444f475b4d5d/pictures/some-cats.jpeg`

It is of the form:  `domain.name/username/projectname/blob/commit_id/path_to_blob`

[2015-10-27 18:27] sonalkr132 commented on #316
I am sorry. I was wrong about this not affecting users. I still think that top level comments should be associated with tree and not project. If there has to be a thing like *project comments* then we should find a different place for it. (May be just another tab in toolbar)

[2015-10-28 08:03] sonalkr132 opened #317 "Remove pagination from comments"
Pagination in comment is just making everything ugly and complex.
Paginating comments makes ajax calls complex, cause we would need to figure out how many comments exit on page and manipulate page accordingly.
Preparing notification url get more complex cause one need to figure out how many comments exists and decide page number accordingly.
Also, redirecting to comment directly (instead of just p

[2015-10-31 15:36] sonalkr132 opened #318 "Why do we have object_type in notification model?"
I don't think `object_type` is serving any purpose. [We are only creating it but never using it](https://github.com/glittergallery/GlitterGallery/search?utf8=%E2%9C%93&q=Object_type).

When it comes to finding out the object creating for which notification was made, all that information just exits in [`action` part of notification](https://github.com/glittergallery/GlitterGallery/blob/master/app/m

[2015-11-05 21:40] sarupbanskota commented on #316
Hi @sonalkr132 I'm sorry I couldn't quite follow what you're trying to suggest. From a flow perspective, one needs to be able to comment on albums on the whole, as well on individual images that belong to those albums.

[2015-11-05 21:42] sarupbanskota commented on #315
@sonalkr132 I don't have much background on this issue either, but if you have a solution that works for the time being and that helps you complete the feature, let lack of response not block you from carrying forward with it :-)

[2015-11-05 21:44] sarupbanskota commented on #314
@sonalkr132 There were more comprehensive plans for the dashboard page, but we obviously couldn't get to them. I won't propose losing the dashboard page altogether, but if you have a flow that works, you can change the redirects and make pages you think aren't necessary not show up unless the user demands them.

[2015-11-05 21:44] #314 closed

[2015-11-05 21:53] sarupbanskota commented on #313
@sonalkr132 nice!

About the breadcrumb, you can do the following improvement for the short term:
* *shorten longer filepaths* - you can experiment with making the file paths restricted to a max char size, limiting from the beginning, if you know what I mean
* for the links, remove the odd coloring by using the `:visited` CSS pseudo-class.

The buttons you suggested could go below the image for no

[2015-11-05 21:56] sarupbanskota commented on #308
I introduced the usercover.jpg; it's under Creative Commons Zero. No worries there.

As for the other file, it appears like you introduced it, so you can look for a suitable replacement if you don't find an alternative.

[2015-11-06 12:51] sonalkr132 commented on #308
Not really. It was introduced in a269b6. It doesn't matter tho. I will find a replacement. I hope it's okay if I send a PR which adds MIT license to project as well. We had agreed on it in mail.

[2015-11-07 02:41] sonalkr132 commented on #309
Closed by #311

[2015-11-07 02:41] #309 closed

[2015-11-08 18:37] sonalkr132 opened #321 "Pages/sections which can use style improvements"
**User setting pages**
Should be responsive and better layout of table showing keys
![screenshot from 2015-11-08 23-45-21](https://cloud.githubusercontent.com/assets/7680662/11021837/5d4f6192-8674-11e5-961b-3c78231c7201.png)

**User identities tab**
Remove Default link style and may be add icon
![screenshot from 2015-11-08 23-45-36](https://cloud.githubusercontent.com/assets/7680662/11021844/a2ee0

[2015-11-10 03:10] sonalkr132 opened #323 "Installation instructions: Wiki or installation.md?"
I am writing installation instructions. It will cover things like installing native dependencies of gems we are using, setting up postgres and gitlab-shell, files one needs to edit to get everything running in their local env etc.

Normally it is written in a file called `installation.md` (which exits in the repository itself). However we maintain wiki for these sort of thing. for ex: [Usage Instr

[2015-11-10 06:15] sarupbanskota commented on #323
Let's use the wiki for now :-) That could come under "documenting" which
will receive relatively frequent updates and might polluting the repo.

Sarup

On Tue, Nov 10, 2015 at 8:40 AM, Aditya Prakash <notifications@github.com>
wrote:

[2015-11-10 06:49] sonalkr132 commented on #308
Do we have copyright? http://opensource.org/licenses/MIT asks for copyright info.

[2015-11-10 14:40] sonalkr132 opened #324 "Generic file icon for unsupported file types"
I was hoping that until we support more format, we should show user a generic file icon instead of broken image. However, I am not able to find any usable icon (with appropriate license) on web and I really don't want to make one on my own.

[2015-11-10 15:03] sarupbanskota commented on #324
https://thenounproject.com/search/?q=file%20type try these for file icons?

Sarup

On Tue, Nov 10, 2015 at 8:10 PM, Aditya Prakash <notifications@github.com>
wrote:

[2015-11-10 15:11] sonalkr132 commented on #324
Yeah, those can work It is asking for purchase or credit. Does that mean we need to mention creator's name in readme?

[2015-11-14 13:11] sonalkr132 opened #325 "Add coverall"
Hi, please sign up for https://coveralls.io with glittergallery account and turn on tracking for GlitterGallery. Our test coverage is going to be over 90% (on sonalkr132/GlitterGallery notif branch). It is worth showing off on readme :bowtie:

[2015-11-23 06:50] sonalkr132 commented on #318
Closed from #319

Removed `object_type`, as it was not being used anywhere. Object is determined by `action` itself.

[2015-11-23 06:51] #318 closed

[2015-11-23 06:51] sonalkr132 commented on #317
Closed from #319

Removed pagination. All comments will show in single page. May add lazy loading later on.

[2015-11-23 06:51] #317 closed

[2015-11-23 06:53] sonalkr132 commented on #315
Closed from #319

redirect url is being stored in notification and annotation model as building them later on was way too expensive.

[2015-11-23 06:53] #315 closed

[2015-11-23 06:55] sonalkr132 commented on #274
Not relevant anymore. Check #323 and #308 instead.

[2015-11-23 06:55] #274 closed

[2015-12-21 09:42] sonalkr132 commented on #325
check out https://coveralls.io/github/glittergallery/GlitterGallery?branch=master

[2015-12-21 09:42] #325 closed

[2015-12-21 09:43] sonalkr132 commented on #323
Installation instructions exist at https://github.com/glittergallery/GlitterGallery/wiki/Installation-Instructions

[2015-12-21 09:43] #323 closed

[2015-12-21 09:44] sonalkr132 commented on #324
closed from #328

[2015-12-21 09:44] #324 closed

[2015-12-21 09:49] sonalkr132 commented on #161
Can be closed. All the mentioned features are now supported.

[2015-12-21 09:50] sonalkr132 commented on #162
Can be closed. Now we have sparkleshare support.

[2015-12-21 09:50] sonalkr132 commented on #150
Can be closed. It is no longer relevant.

[2015-12-21 10:20] #150 closed

[2015-12-21 10:20] #162 closed

[2015-12-21 10:21] sarupbanskota commented on #161
Thanks <3

[2015-12-24 06:21] sonalkr132 opened #330 "File access warning on Hakiri are false positive"
I would suggest that [file access warning on hakiri](https://hakiri.io/github/glittergallery/GlitterGallery/master/bec63ec3823da380df7280d4c0effbfd5c76dd29/warnings?name=File+Access) are marked false postive. After 83ac2a6d we have check in place that no one can access files they are not suppose to.

[2016-02-07 08:46] sonalkr132 opened #334 "Introduction of Jasmine"
Now, we have quite a few actions which uses javascript. Unfortunately, it is really inefficient, complex and slow to test them with rspec. We need a javascript specific testing framework like [Jasmine](https://github.com/jasmine/jasmine-gem). Some of user actions which are untested are:

* CRUD of annotation
* file stats
* live comments and notification
* diff view of images
* infinite scroll on h

[2016-02-07 08:54] sonalkr132 opened #335 "Rewrite of migrations"
Our migration folder can really use some help. As of now, we have 76 migrations, and it cringe-worthy to look at them. Things were introduced, removed and introduced back again, column names and types are changed again and again and again. It would make sense to keep them if we could rollback to a previous migration, however we can't. A good number of migrations is irreversible.
It would be best i

[2016-02-07 09:02] sonalkr132 opened #336 "Refactoring project model and controller"
Both project model and controller have reached state where they desperately need refactoring. `Project` model has way too many unrelated responsibility which can be easily extracted in service objects (image, repository, tree etc to name a few).
Following same pattern, `Project` controller is handling way too many unrelated requests. Request related to images, git objects, project settings can hav

[2016-02-07 09:04] sonalkr132 commented on #39
This can be closed

[2016-02-07 09:11] sonalkr132 opened #337 "Online edit of images"
Users should be able to edit any image they have uploaded to us. It should support basic functionality needed for last minute tweaks.
We have tried previously to introduce this feature however it is not in working state. We can use following projects to have a fresh stab at it:

* http://sourceforge.net/projects/akoie/
* https://github.com/jseidelin/pixastic
* https://github.com/zefei/picmagick
*

[2016-02-07 09:25] sonalkr132 opened #338 "Remove dead code and improve test coverage"
After f5c0202 gets merged, test coverage will suffer major loss (-9%). We need to remove all the dead code from our project (especially glitter post part). Check all files section of any of the recent builds to find out which other files need help: https://coveralls.io/github/glittergallery/GlitterGallery?branch=master
This issue can be closed when we are in 95+ test coverage.

[2020-05-02 14:10] #151 closed